include ../color-box/color-box
include ../uikit-text/uikit-text

mixin uikit-colors-type({colorBoxes, textTypes})
  .uikit-colors-type
    .uikit-colors-type__content
      .uikit-colors-type__color-column
        each box in colorBoxes
          .uikit-colors-type__color-box
            +color-box({colorClass: box.colorClass, colorName: box.colorName, colorCode: box.colorCode})
      .uikit-colors-type__text-column
        each textType in textTypes
          .uikit-colors-type__text-box
            +uikit-text(textType.textTag, textType.nameTage, textType.textSample)