mixin room-icon({icon, title, descr, hasLine})
  - const classes = ["room-icon"]
    if hasLine
    - classes.push("room-icon_with-line")
    div(class=classes)
      i.room-icon__icon.material-icons #{icon}
      .room-icon__title #{title}
        p.room-icon__descr #{descr}