mixin room-icon({icon, title, descr, hasLine})
  if hasLine
  - let mod = '_with-line' 
  .room-icon(class='room-icon' + mod)
    i.room-icon__icon.material-icons #{icon}
    .room-icon__title #{title}
      p.room-icon__descr #{descr}