mixin form-footer(big_btn, small_btn, footerText, full)
    .form-footer
        include ../../button/button
        +Button('btn-arrow', big_btn, true) 
        if full
            .full-footer
                p #{footerText}
                +Button('ghost-button', small_btn) 