extends ../../layout/uikit.pug

block variables

  -var pageTitle= 'Form elements'

block content
  include ../../modules/icons/logo/logo
  include ../../modules/forms/__input/form__input
  include ../../modules/checkbox-group/checkbox-group
  include ../../modules/toggle/toggle
  include ../../modules/like-button/like-button
  include ../../modules/radio-button/radio-button
  include ../../modules/ratings/ratings
  include ../../modules/button/button
  include ../../modules/button-big/button-big
  include ../../modules/button-ghost/button-ghost
  include ../../modules/button-small/button-small
  include ../../modules/button-transparent/button-transparent
  include ../../modules/pagination/pagination
  include ../../modules/bullet-list/bullet-list
  include ../../modules/room-icon/room-icon
  include ../../modules/review/review
  include ../../modules/calendar-inputs/calendar-inputs
  include ../../modules/calendar/calendar
  include ../../modules/range_slider/multirange
  include ../../modules/input/input
  include ../../modules/input-dropdown/input-dropdown
  include ../../modules/input-subscription/input-subscription
  include ../../modules/input-date-dropdown/input-date-dropdown

  .content-form-elements
    .logo_uikit
      +logo()
    section.column-inputs
      .input-wrapper
        .input-header
          h3 text field
          span.sub-title default
        +input({placeholder: 'Email', type: 'text'})
      .input-wrapper
        .input-header
          h3 text field
          span.sub-title hover / focus
        +input({placeholder: 'This is pretty awesome', type: 'text', focused: true})
      .input-wrapper
        .input-header
          h3 dropdown
          span.sub-title default
        +input-dropdown({items: ['взрослые', 'дети', 'младенцы'], placeholder: 'Сколько гостей', single: true})
      .input-wrapper
        .input-header
          h3 masked text field
          span.sub-title default
        +input({placeholder: 'ДД.ММ.ГГГ', type: 'text', masked: true})
      .input-wrapper
        +calendar-inputs({
          titles: ['date dropdown', 'date dropdown'],
          placeholders: ['ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ']
        })
      .input-wrapper
        .input-header
          h3 filter date dropdown
        +input-date-dropdown({placeholder: '19 авг - 23 авг', type: 'text'})  
      .input-wrapper
        .input-header
          h3 subscription text field
        +input-subscription({placeholder: 'Email', type: 'text'})

    section.column-small-buttons
      .checkbox-block
        +checkbox-group('3', 'Checkbox Buttons', ['mycheckbox', 'mycheckbox2', 'mycheckbox2'], ['check1', 'check2', 'check3'], ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)'], ['none', 'checked', 'checked'])
      .radio-block
        h3 Radio Buttons
        +radio-button({title: 'Мужчина', value: 'male', checked: 'checked'})
        +radio-button({title: 'Женщина', value: 'female'})
      .toggle-block
        h3 Toggle    
        +toggle({title: 'Получать спецпредложения', value: 'mytoggle1', name: 'toggle1', checked: 'checked' })
        +toggle({title: 'Получать спецпредложения', value: 'mytoggle2', name: 'toggle2'})
      .like-block
        h3 like button
        +like-button({number: '2', name: 'mylike1', value: 'like1'})
        +like-button({number: '12', name: 'mylike2', value: 'like2', checked: 'checked'})
      .rate-block
        h3 rate button
        +rating('4')
        +rating('4')

    section.buttons
      .range-block
        +rangeMixin('range slider')
      .button-block
        h3 buttons
        .small_button-block
          +button-small({text: 'click me'})
          +button-small({text: 'click me', disabled: true})
        .ghost_button-block
          +button-ghost({text: 'click me'})
          +button-ghost({text: 'click me', disabled: true})
        .transperent_button-block
          +button-transparent({text: 'click me'})
          +button-transparent({text: 'click me', disabled: true})
        +button-big({text: 'перейти к оплате', hasArrow: true})
      .pagination-block
        h3 pagination
        +pagination

    section.dropdown-inputs
      .column-dropdown-inputs
        .wrap-dropdown-input
          .input-header
            h3 dropdown 
          +input-dropdown({items: ['спальни', 'кровати', 'ванные комнаты'], multiple: true}) 
        .wrap-dropdown-input
          .input-header
            h3 dropdown  
          +input-dropdown({items: ['спальни', 'кровати', 'ванные комнаты'], multiple: true}) 
      .column-dropdown-inputs
        .wrap-dropdown-input
          .input-header
            h3 dropdown 
          +input-dropdown({items: ['взрослые', 'дети', 'младенцы'], placeholder: 'Сколько гостей', single: true})
      .column-dropdown-inputs
        .wrap-dropdown-input
          .input-header
            h3 dropdown 
          +input-dropdown({items: ['взрослые', 'дети', 'младенцы'], placeholder: 'Сколько гостей', single: true})

    section.lists
      .column-lists  
        .checkbox-expandable-block
          +checkbox-group('7', 'expandable checkbox list', '', '', ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор'], '', 'expandable')
          +checkbox-group('7', 'expandable checkbox list', '', '', ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор'], '', 'expandable')  
      .column-lists 
        .checkbox-rich-block    
          +checkbox-group('2', 'rich checkbox buttons', '', '', ['Широкий коридор', 'Помощник для инвалидов'], '', 'rich', ['Ширина коридоров в номере не менее 91 см.', 'На 1 этаже вас встретит специалист и проводит до номера.'])
      .column-lists 
        .bullet-list-block
          +bullet-list({
            title:'bullet list', 
            items: [
              'Нельзя с питомцами', 
              'Без вечеринок и мероприятий', 
              'Время прибытия — после 13:00, а выезд до 12:00'
              ]
            })   

    section.room-details
      .column-room-details
        +room-icon({icon:'tag_faces', title:'Комфорт', descr: 'Шумопоглощающие стены', hasLine: true})
        +room-icon({icon:'location_city', title:'Удобство', descr: 'Окно в каждой из спален', hasLine: true})
      .column-room-details
        +review('review-image-1.jpg', 'Мурад Сарафанов', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', '12', '', '', 'checked')