extends ../../layout/uikit/uikit-layout.pug
include ../../modules/checkbox/checkbox
include ../../modules/checkbox-expandable/checkbox-expandable
include ../../modules/toggle/toggle
include ../../modules/like-button/like-button
include ../../modules/radio-button/radio-button
include ../../modules/ratings/ratings
include ../../modules/button-big/button-big
include ../../modules/button-ghost/button-ghost
include ../../modules/button-small/button-small
include ../../modules/button-transparent/button-transparent
include ../../modules/pagination/pagination
include ../../modules/bullet-list/bullet-list
include ../../modules/room-icon/room-icon
include ../../modules/review/review
include ../../modules/calendar-inputs/calendar-inputs
include ../../modules/calendar/calendar
include ../../modules/range-slider/range-slider
include ../../modules/input/input
include ../../modules/input-dropdown/input-dropdown
include ../../modules/input-subscription/input-subscription
include ../../modules/input-date-dropdown/input-date-dropdown

block variables

  - let pageTitle= 'Form elements'

block content

  .form-elements
    .form-elements__content
      section.form-elements__inputs
        .form-elements__input-default
          .form-elements__input-header
            h3 text field
            span.form-elements__sub-title default
          +input({placeholder: 'Email', type: 'text'})
        .form-elements__input-focus
          .form-elements__input-header
            h3 text field
            span.form-elements__sub-title hover / focus
          +input({placeholder: 'This is pretty awesome', type: 'text', focused: true})
        .form-elements__input-dropdown
          .form-elements__input-header
            h3 dropdown
            span.form-elements__sub-title default
          +input-dropdown({items: ['взрослые', 'дети', 'младенцы'], placeholder: 'Сколько гостей', single: true})
        .form-elements__input-masked
          .form-elements__input-header
            h3 masked text field
            span.form-elements__sub-title default
          +input({placeholder: 'ДД.ММ.ГГГ', type: 'text', masked: true})
        .form-elements__inputs-calendar
          +calendar-inputs({
            titles: ['date dropdown', 'date dropdown'],
            placeholders: ['ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ']
          })
        .form-elements__input-date-dropdown
          .form-elements__input-header
            h3 filter date dropdown
          +input-date-dropdown({placeholder: '19 авг - 23 авг', type: 'text'})  
        .form-elements__input-subscription
          .form-elements__input-header
            h3 subscription text field
          +input-subscription({placeholder: 'Email', type: 'text'})

      section.form-elements__small-buttons
        .form-elements__checkbox-block
          h3 Checkbox Buttons
          .form-elements__checkbox-block-group
            .form-elements__checkbox-block-button
              +checkbox({title: 'Можно курить', name: '1', value: '1'})
            .form-elements__checkbox-block-button
              +checkbox({title: 'Можно с питомцами', name: '2', value: '2', checked: 'checked'})
            .form-elements__checkbox-block-button
              +checkbox({title: 'Можно пригласить гостей (до 10 человек)', name: '3', value: '3', checked: 'checked'})
        .form-elements__radio-block
          h3 Radio Buttons
          .form-elements__radio-block-button
            +radio-button({title: 'Мужчина', value: 'male', checked: 'checked'})
          .form-elements__radio-block-button
            +radio-button({title: 'Женщина', value: 'female'})
        .form-elements__toggle-block
          h3 Toggle 
          .form-elements__toggle-block-button   
            +toggle({title: 'Получать спецпредложения', value: 'mytoggle1', name: 'toggle1', checked: 'checked' })
          .form-elements__toggle-block-button 
            +toggle({title: 'Получать спецпредложения', value: 'mytoggle2', name: 'toggle2'})
        .form-elements__like-block
          h3 like button
          .form-elements__like-block-button 
            +like-button({number: '2', name: 'mylike1', value: 'like1'})
          .form-elements__like-block-button 
            +like-button({number: '12', name: 'mylike2', value: 'like2', checked: 'checked'})
        .form-elements__ratings-block
          h3 rate button
          .form-elements__ratings-block-rating
            +rating('4')
          .form-elements__ratings-block-rating
            +rating('4')

      section.form-elements__buttons
        .form-elements__range-slider
          +range-slider('range slider')
        .form-elements__buttons-block
          h3 buttons
          .form-elements__small-buttons-block
            +button-small({text: 'click me'})
            +button-small({text: 'click me', disabled: true})
          .form-elements__ghost-buttons-block
            +button-ghost({text: 'click me'})
            +button-ghost({text: 'click me', disabled: true})
          .form-elements__transparent-buttons-block
            +button-transparent({text: 'click me'})
            +button-transparent({text: 'click me', disabled: true})
          .form-elements__big-button
            +button-big({text: 'перейти к оплате', type: 'button', hasArrow: true})
        .form-elements__pagination-block
          h3 pagination
          +pagination({text:'1 – 12 из 100+ вариантов аренды', items: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15']})

      section.form-elements__dropdown-inputs
        .form-elements__dropdown-inputs-column
          .form-elements__wrap-dropdown-input
            .form-elements__input-header
              h3 dropdown
              span.form-elements__sub-title default
            +input-dropdown({items: ['спальни', 'кровати', 'ванные комнаты'], multiple: true}) 
          .form-elements__wrap-dropdown-input
            .form-elements__input-header
              h3 dropdown
              span.form-elements__sub-title expanded  
            +input-dropdown({items: ['спальни', 'кровати', 'ванные комнаты'], multiple: true}) 
        .form-elements__dropdown-inputs-column
          .form-elements__wrap-dropdown-input
            .form-elements__input-header
              h3 dropdown 
            +input-dropdown({items: ['взрослые', 'дети', 'младенцы'], placeholder: 'Сколько гостей', single: true})
        .form-elements__dropdown-inputs-column
          .form-elements__wrap-dropdown-input
            .form-elements__input-header
              h3 dropdown 
            +input-dropdown({items: ['взрослые', 'дети', 'младенцы'], placeholder: 'Сколько гостей', single: true})

      section.form-elements__lists
        .form-elements__lists-column 
          .form-elements__checkbox-expandable-block
            .form-elements__checkbox-expandable-block-group
              +checkbox-expandable({title: 'expandable checkbox list', items: [{title: 'Завтрак'}, {title: 'Письменный стол'}, {title: 'Стул для кормления'}, {title: 'Кроватка'}, {title: 'Телевизор'}, {title: 'Шампунь'}, {title: 'Телевизор'}, {title: 'Шампунь'}]})
            .form-elements__checkbox-expandable-block-group
              +checkbox-expandable({title: 'expandable checkbox list', items: [{title: 'Завтрак'}, {title: 'Письменный стол', checked: true}, {title: 'Стул для кормления', checked: true}, {title: 'Кроватка', checked: true}, {title: 'Телевизор'}, {title: 'Шампунь'}, {title: 'Телевизор'}, {title: 'Шампунь'}], open: true})
        .form-elements__lists-column 
          .form-elements__checkbox-rich-block 
            h3 rich checkbox buttons
            .form-elements__checkbox-rich-block-group
              .form-elements__checkbox-rich-block-button
                +checkbox({title: 'Широкий коридор', name: '1', value: '1', rich: true, description: 'Ширина коридоров в номере не менее 91 см.'})   
              .form-elements__checkbox-rich-block-button
                +checkbox({title: 'Помощник для инвалидов', name: '2', value: '2', rich: true, description: 'На 1 этаже вас встретит специалист и проводит до номера.'})   
        .form-elements__lists-column 
          .form-elements__bullet-list-block
            h3 bullet list
            .form-elements__bullet-list-block-group
              +bullet-list({
                items: [
                  'Нельзя с питомцами', 
                  'Без вечеринок и мероприятий', 
                  'Время прибытия — после 13:00, а выезд до 12:00'
                  ]
                })   

      section.form-elements__room-details
        .form-elements__room-details-column
          .form-elements__room-icon
            +room-icon({icon:'tag_faces', title:'Комфорт', descr: 'Шумопоглощающие стены', hasLine: true})
          .form-elements__room-icon
            +room-icon({icon:'location_city', title:'Удобство', descr: 'Окно в каждой из спален', hasLine: true})
        .form-elements__room-details-column
          .form-elements__room-review
            +review({image: 'review-image-1.jpg', author: 'Мурад Сарафанов', date: '5 дней назад', text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', likeNumber: '12', likeChecked: 'checked'})