include ../__input/form__input
mixin form__calendar-block()
    .form__calendar-block
        +formInput('text', 'date dropdown', 'ДД.ММ.ГГГГ', 'small-input', 'wrap-small')  
        +formInput('text', 'date dropdown', 'ДД.ММ.ГГГГ', 'small-input', 'wrap-small')  
        .calendar-dropdown
            