include ../logo/logo

mixin footer-mobile()
  .footer-mobile
    .footer-mobile__logo
      +logo-icon({disabled:false})
    .footer-mobile__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    .footer-mobile__socials
      .social-twitter
      .social-fb
      .social-insta