include ../logo/logo
include ../social-icons/social-icons

mixin footer-mobile()
  .footer-mobile
    .footer-mobile__logo
      +logo({disabled:false})
    .footer-mobile__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    .footer-mobile__socials
      +social-icons()