include ../logo/logo
include ../social-icons/social-icons

mixin footer-mobile({text})
  .footer-mobile
    .footer-mobile__logo
      +logo({disabled:false})
    .footer-mobile__text= text 
    .footer-mobile__socials
      +social-icons()