@import '~item-quantity-dropdown/lib/item-quantity-dropdown.min.css';

.iqdropdown {
  @include input;
  position: relative;
  height: 44px;

  &:before {
    @include drop-arrow;
    top: 10px !important;
  }

  &.menu-open {
    border-radius: 4px 4px 0px 0px;
    border: 1px solid $dark_shade_50;
  }

  &.input_dropdown-multiple {
    width: 100%;
  }

  .iqdropdown-menu {
    margin-top: -7px;
    border: 1px solid $dark_shade_50;
    border-top: none;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    padding-bottom: 6px;
    border-radius: 0px 0px 4px 4px;

    .buttons-block {
      margin-top: 7px;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      padding: 12px 7px 6px 13px;
      position: relative;
      z-index: 99999;

      .button-transparent {
        height: 15px;
      }
    }
  }
}

.iqdropdown-item {
  @include h3;
}

.button-decrement,
.button-increment {
  display: inline-block;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
  border: 1px solid $dark_shade_50 !important;
  position: relative;
  padding: 0px !important;
  margin-top: 5px !important;

  .icon-decrement {
    &:after {
      position: absolute !important;
      background: $dark_shade_50 !important;
      width: 5px !important;
      height: 1px !important;
      left: 5px;
      top: 8px;
    }
  }

  .icon-increment {

    &:after {
      position: absolute !important;
      background: $dark_shade_50 !important;
      width: 8px !important;
      height: 1px !important;
      left: 3px;
      top: 6px;

    }
  }

  .icon-increment::before {
    background: $dark_shade_50 !important;
    width: 8px !important;
    height: 1px !important;
    left: 3px;
  }
}


.defaultClass .button-decrement {
  border: 1px solid $dark_shade_25 !important;
  cursor: initial;

  .icon-decrement {
    &:after {
      background: $dark_shade_25 !important;
    }
  }

  &:hover {
    background: none !important;
  }
}

.counter {
  border: none !important;
  font-family: $mainFont !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-size: 12px !important;
  line-height: 15px !important;
  color: $dark_shade_100 !important;
  text-transform: uppercase !important;
  padding: 11px 12px !important;
  width: 32px !important;
}

.iqdropdown-menu-option {
  height: 37px !important;
}

.iqdropdown-content {
  margin-left: -2px;
}

.iqdropdown-item-controls {
  margin-top: 8px !important;
  margin-right: -9px !important;
}

.iqdropdown-selection {
  color: $dark_shade_75 !important;
  font-family: $mainFont !important;
  font-size: $mainFontSize !important;
  position: relative !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  height: 44px !important;
  width: 160px !important;
  white-space: nowrap;
  flex: none !important;

  &:after {
    display: none !important;
  }
}