.signup{
    .form-header{
        letter-spacing: 0.8px;
    }
    .wrap-default{
    &:nth-child(2){
        margin-top:13px;
    }
    &:nth-child(3){
        margin-top:5px;
    }
    }
    .form-footer{
        margin-top:20px;
        .button_ghost-button{
            margin-left: 56px;
        }
    }
}