.subscription-wrap{
  width:266px;
  position: relative;
}
 .subscription{
  + .material-icons::before{
    @include right-arrow;
    color:$purple;
    right:10px;
    top:30px;
    position: absolute;
  }
  width:266px;
  }
