@import '../../../assets/scss/utils/vars.scss';

.donut-chart {
  position: relative;
  width: 139px;
  height: 139px;
  display: inline-block;

  circle:hover {
    stroke-width: 8;
  }

  svg {
    transform: scaleX(-1);
  }

  .chart-text {
    width: 60px;
    height: 40px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

    .chart-number {
      font-size: 24px;
      font-family: 'Quicksand', sans-serif;
      font-weight: bold;
    }

    .chart-label {
      font-size: 12px;
      font-family: $mainFont;
    }
  }
}

.chart_options {
  display: inline-block;
  vertical-align: middle;
  margin-left: 21px;
  margin-top: 32px;

  span {
    top: 7px;
  }
}