@import "utils/fonts";
@import "utils/reset";
@import '~material-design-icons/iconfont/material-icons.css';

body {
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  color: $dark_shade_75;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}