mixin rating
  .rating.js-rating
    each star in ['1', '2', '3', '4', '5'] 
      .rating__star-wrap
        input.rating__star-input(type='radio' name='example', value=star)
        .rating__star
        