
.star{
    &:before{
        content:"\e83a";
    }
    width: 24px;    
    height: 24px;
    cursor: pointer;
    color: $purple; 
}
.fullStar{
    &:before{
        content: '\e838';
    }
  
}
.tmp_fs{
    &:before{
        content: '\e838';
    }
}
