.rating {
  display: flex;

  &__star-input {
    display: none;
  }

  &__star {
    position: relative;
    width: 24px;
    height: 24px;

    &:before {
      position: absolute;
      content: "\e83a";
      font-family: 'Material Icons';
      font-size: 24px;
      font-weight: 200;
      width: 24px;
      height: 24px;
      cursor: pointer;
      background: $purpleGradient;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &.star-checked,
    &.star-hover,
    &:hover {
      &:before {
        position: absolute;
        content: '\e838';
        font-family: 'Material Icons';
        width: 24px;
        height: 24px;
        cursor: pointer;
        background: $purpleGradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}