
include ../calendar/calendar
mixin calendar-inputs({titles, placeholders})
  .calendar-inputs(class = 'js-calendar-inputs')
    each title, index in titles
      .wrap-input-small
        .input-header-small #{title}
        input(class='input input_small' placeholder=placeholders[index])
    .calendar-dropdown
      +calendar()
