@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.calendar-inputs {

  .wrap-input-small {
    display: inline-block;
    width: 150px;
    position: relative;

    &:not(:first-child) {
      margin-left: 18px;
    }

    .input-header-small {
      @include h3;
    }

    .input_small {
      @include input;
      width: 150px;
      margin-top: 8px;
      cursor: pointer;

      &::placeholder {
        color: $dark_shade_75;
      }
    }

    &:after {
      @include drop-arrow;
      bottom: 10px;
    }
  }


  .calendar-dropdown {
    margin-top: 5px;
    display: none;
    position: absolute;
    z-index: 1000;
  }
}