
include ../calendar/calendar
mixin calendar-inputs({titles, placeholders})
  .calendar-inputs.js-calendar-inputs
    .calendar-inputs__wrap-flex
      each title, index in titles
        .calendar-inputs__wrap-input
          .calendar-inputs__wrap-input__input-header #{title}
          input(class='input input_small' placeholder=placeholders[index])
    .calendar-inputs__calendar-dropdown
      +calendar()
