.calendar-inputs {
  position: relative;

  .wrap-input {
    margin-top: 19px;
    display: inline-block;

    &:not(:first-child) {
      margin-left: 18px;
    }
  }

  .calendar-dropdown {
    margin-top: 5px;
    display: none;
    position: absolute;
    z-index: 1000;
  }

}