
include ../calendar/calendar
mixin calendar-inputs({titles, placeholders})
  .calendar-inputs(class = 'js-calendar-inputs')
    each title, index in titles
      .wrap-input
        .input-header #{title}
        input(class='small-input' placeholder=placeholders[index])
        .material-icons 
    .calendar-dropdown
      +calendar()
