include ../datepicker/datepicker
mixin calendar-inputs({titles, placeholders})
  .calendar-inputs.js-calendar-inputs
    .calendar-inputs__wrap-flex
      each title, index in titles
        .calendar-inputs__wrap-input
          .calendar-inputs__input-header #{title}
          input(class="calendar-inputs__input-small input" placeholder=placeholders[index])
    .calendar-inputs__calendar-dropdown
      +datepicker()
