@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.calendar-inputs {
  width: 100%;

  &__wrap-flex {
    display: flex;
    justify-content: space-between;
  }

  &__wrap-input {
    width: 46.88%; //150px
    position: relative;

    &:after {
      @include drop-arrow;
      bottom: 10px;
    }
  }

  &__input-header {
    @include h3;
  }

  &__input-small {
    @include input;
    width: 100%;
    cursor: pointer;
    margin-top: 5px;

    &::placeholder {
      color: $dark_shade_75;
    }
  }


  &__calendar-dropdown {
    margin-top: 5px;
    display: none;
    position: absolute;
    z-index: 100000;
  }
}