.wrap-room-icon{
    width:280px;
    padding-bottom:10px;
    &:not(:first-child){
        margin-top: 19px;
    }
    
   
    .room-icon{
        display: inline-block;
        width:48px;
        height:48px;
        margin-top: 4px;
        margin-left: 6px;
      
    }
        .comfort{
           background-image:url(../img/insert_emoticon.svg);
           background-repeat: no-repeat;   
        }
        
        .convenience{
            background-image:url(../img/location_city.svg); 
            background-repeat: no-repeat;   
       
        }
        .cosy{
            background-image:url(../img/whatshot.svg); 
            background-repeat: no-repeat;   
        }
    

    .room-icon-header{
        @include sub-header;
        margin-left: 5px;
        vertical-align: top;
    
    p{
        font-family: $mainFont;
        font-size: 14px;
        color:$dark_shade_50;
        text-transform: none;
    }
}

}
.isLine{
border-bottom: 1px solid $dark_shade_10;
}