.search-room-page {
  flex: 1 0 auto;

  &__content {
    padding: 30px 9.7% 73px 9.7%;
    display: grid;
    grid-template-columns: 1fr 3.135fr;
    grid-gap: 5%;
    border-bottom: 1px solid $dark_shade_10;

    @media(max-width: 650px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    letter-spacing: 0.8px;
  }

  &__filter-column {
    @media(max-width: 650px) {
      max-width: 266px;
    }
  }

  &__input-header {
    margin-bottom: 5px;
  }

  &__guests-selection {
    margin-top: 20px;
    max-width: 266px;
  }

  &__price-selection {
    margin-top: 30px;
  }

  &__price-selection-text {
    font-size: 12px;
    color: $dark_shade_50;
    margin-top: 9px;
  }

  &__room-options {
    margin-top: 25px;

  }

  &__room-options-group {
    margin-top: 16px;
  }

  &__room-options-button:not(:first-child) {
    margin-top: 10px;
  }

  &__room-availability {
    margin-top: 30px;


  }

  &__room-availability-group {
    margin-top: 16px;
  }

  &__room-availability-button:not(:first-child) {
    margin-top: 8px;
  }

  &__room-facilities {
    margin-top: 16px;
  }

  &__room-additional-facilities {
    margin-top: 30px;
  }

  &__room-cards {
    display: grid;

    @media(max-width: 650px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 15px;
    }
  }

  &__room-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 12px;
    margin-top: 11px;
    margin-left: 1px;
  }

  &__hotel-card {
    margin-top: 9px;
  }

  &__pagination {
    margin-top: 41px;
    margin-left: -12px;
    justify-self: center;
  }
}