.button-ghost {
  @include button;
  line-height: 40px;
  color: $purple;
  background: $purpleGradient;
  padding: 2px;

  &__text {
    background: white;
    display: block;
    border-radius: 22px;
    padding-left: 18px;
    padding-right: 18px;
  }

  &_disabled {
    opacity: 0.5;

    &:hover {
      cursor: initial;
    }
  }

  &_in-form-footer{
    min-width: 99px;
    
    .button-ghost__text{
      padding-left: 17px;
      padding-right: 17px;
    }
  }

  &_in-header{
    line-height: 30px;
    width: auto;

    .button-ghost__text{
      padding: 0px 19px;
    }
  }

  &_in-header-eng{
    .button-ghost__text {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}