@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.button-ghost {
  @include button;
  width: 99px;
  line-height: 40px;
  color: $purple;
  background: $purpleGradient;
  padding: 2px;

  &__text {
    background: white;
    display: block;
    border-radius: 22px;
  }

  &_disabled {
    opacity: 0.5;

    &:hover {
      cursor: initial;
    }
  }
}