mixin button-ghost({text, disabled, inFormFooter, inHeader, inHeaderEng})  
  - const classes = ["button-ghost"]
  if disabled
    - classes.push("button-ghost_disabled")
  if inFormFooter
    - classes.push("button-ghost_in-form-footer")
  if inHeader
    - classes.push("button-ghost_in-header")
  if inHeaderEng
    - classes.push("button-ghost_in-header-eng")
  button(class=classes)
    span.button-ghost__text #{text} 