mixin button-ghost({text, disabled, inFormFooter, inHeader, inHeaderEng})  
  - const mods = [""]
  if disabled
    - mods.push("_disabled")
  if inFormFooter
    - mods.push("_in-form-footer")
  if inHeader
    - mods.push("_in-header")
  if inHeaderEng
    - mods.push("_in-header-eng")
  button(class=mods.map(mod => "button-ghost" + mod))
    span(class=mods.map(mod => "button-ghost__text" + mod))= text