.room-details-page {
  flex: 1 0 auto;
  max-width: 1440px;

  &__gallery {
    height: 485px;
    display: grid;
    grid-template-columns: 2.125fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__main-image {
    grid-row: span 2;
  }

  &__content {
    padding: 70px 9.7% 90px 9.7%;
    /* 140px / 1440px = 0,097*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 1%;
    border-bottom: 1px solid $dark_shade_10;

    @media (max-width: 1100px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 500px) {
      padding-left: 1%;
      padding-right: 1%;
    }

    h2 {
      @include h2;
      letter-spacing: 0.6px;
    }
  }


  &__icons-charts {
    grid-column: span 2;
    display: flex;

    @media (max-width: 1100px) {
      width: 100%;
      justify-content: space-between;
    }

    @media (max-width: 690px) {
      display: block;
      width: auto;
    }

  }

  &__icon {
    margin-top: 20px;
  }


  &__room-chart {
    margin-left: 10.5%;

    @media (max-width: 690px) {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  &__chart {
    margin-top: 10px;
    margin-left: -10px;
  }

  &__booking-form {
    grid-row: span 3;
    width: 381px;

    @media (max-width: 1100px) {
      margin-top: 10px;
    }

    @media (max-width: 400px) {
      width: 98%;
    }
  }

  &__room-reviews {
    grid-column: span 2;
    margin-top: 5px;
    max-width: 711px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__review {
    margin-top: 19px;

    &:last-child {
      margin-top: 23px;
    }
  }

  &__text-block {
    grid-column: span 2;
    margin-top: 25px;
    display: flex;

    @media (max-width: 650px) {
      display: block;
    }
  }

  &__bullet-list {
    max-width: 260px;
    min-width: 250px;
  }

  &__bullet-list-header {
    margin-left: 20px;
  }

  &__bullet-list-group {
    margin-top: 16px;
  }

  &__short-text {
    max-width: 340px;
    min-width: 300px;
    margin-left: 13%;

    @media (max-width: 650px) {
      margin-left: 0;
      margin-top: 18px;
    }
  }

  &__text {
    margin-top: 18px;
  }

}