extends ../../layout/main/main
include ../../modules/review/review
include ../../modules/room-icon/room-icon
include ../../modules/bullet-list/bullet-list
include ../../modules/donut-chart/donut-chart
include ../../modules/form-booking/form-booking

block variables

  -var pageTitle= 'Room details'

block content
  .room-details-page
    .room-details-page__gallery
      .main-img
        img(src=require('./images/main-gallery-image.jpg') alt='Main gallery image')
      .small-img1
        img(src=require('./images/small-gallery-image-1.jpg') alt='Small gallery image 1')
      .small-img2
        img(src=require('./images/small-gallery-image-2.jpg') alt='Small gallery image 2')
    .room-details-page__content
      .room-details-page__icons-charts
        .room-details-page__room-icons
          h2 Сведения о номере
          .room-details-page__room-icons__icon
            +room-icon({icon:'tag_faces', title:'Комфорт', descr: 'Шумопоглощающие стены', hasLine: true})
          .room-details-page__room-icons__icon
            +room-icon({icon:'location_city', title:'Удобство', descr: 'Окно в каждой из спален', hasLine: true})
          .room-details-page__room-icons__icon
            +room-icon({icon:'whatshot', title:'Уют', descr: 'Номер оснащен камином'})
        .room-details-page__room-chart
          h2 Впечатления от номера
          .room-details-page__room-chart__chart
            +donut-chart()
      .room-details-page__booking-form
        +form-booking()
      .room-details-page__room-reviews
        .room-details-page__room-reviews__header
          h2 Отзывы посетителей номера
          span.review-number 2 отзыва
        .room-details-page__room-reviews__review
          +review({image: 'review-image-1.jpg', author: 'Мурад Сарафанов', date: '5 дней назад', text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', likeNumber: '12', likeChecked: 'checked'})
        .room-details-page__room-reviews__review
          +review({image: 'review-image-2.jpg', author: 'Патрисия Стёклышкова', date: 'Неделю назад', text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент', likeNumber: '2'})
      .room-details-page__text
        .room-bullet-list
          h2.room-bullet-list__header Правила
          .room-bullet-list__group
            +bullet-list({
              items: [
                'Нельзя с питомцами', 
                'Без вечеринок и мероприятий', 
                'Время прибытия — после 13:00, а выезд до 12:00'
              ]
            })
        .room-short-text
          h2 Отмена
          p.text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.