@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.room-details-page {
  flex: 1 0 auto;
  max-width: 1440px;

  &__gallery {
    height: 485px;
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-fit: 90%;
    }

    .main-img {
      grid-column: span 2;
      grid-row: span 2;
      height: 100%;
    }
  }



  &__content {
    padding: 70px 9.7% 90px 9.7%;
    /* 140px / 1440px = 0,097*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 1%;
    border-bottom: 1px solid $dark_shade_10;

    /* 70px / 1440px = 0,05*/
    h2 {
      @include h2;
      letter-spacing: 0.6px;
    }
  }


  &__icons-charts {
    grid-column: span 2;
    display: flex;
  }

  &__room-icons {
    &__icon {
      margin-top: 20px;
    }
  }

  &__room-chart {
    margin-left: 10.5%;

    &__chart {
      margin-top: 10px;
      margin-left: -10px;
    }
  }

  &__booking-form {
    grid-row: span 3;

  }

  &__room-reviews {
    grid-column: span 2;
    margin-top: 5px;
    max-width: 711px;

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__review {
      margin-top: 19px;

      &:last-child {
        margin-top: 23px;
      }
    }

  }

  &__text {
    grid-column: span 2;
    margin-top: 25px;
    display: flex;


    .room-bullet-list {
      max-width: 260px;
      min-width: 250px;

      &__header {
        margin-left: 20px;
      }

      &__group {
        margin-top: 16px;
      }
    }

    .room-short-text {
      max-width: 340px;
      min-width: 300px;
      margin-left: 13%;

      .text {
        margin-top: 18px;
      }
    }
  }


}