include ../../logo/logo

mixin footer-mobile()
  .wrap-footer-mobile
    .logo-footer-mobile
      +logo-icon({disabled:false})
    p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    .socials
      .social-twitter
      .social-fb
      .social-insta