# Default
.gulp
.idea
.vscode
dist
node_modules


# BD, logs
*.log
*.sql
*.sqlite

# Other
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# Special
Thumbs.db
Desktop.ini
.DS_Store*
ehthumbs.db
Icon?
