$datepickerDayCellSize: 40px !default;
$datepickerWidth: 320px !default;
$datepickerMinBodyHeight: 369px !default;
$datepickerBorderRadius: 4px !default;
$datepickerPadding: 20px 19px 15px 20px !default;
$datepickerZIndex: 100 !default;

$datepickerFontFamily: 'Montserrat',
sans-serif !default;
$datepickerFontSize: 12px !default;

$datepickerYearsPerRow: 4 !default;

$datepickerTextColor: (button: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%),
  otherMonth: #dedede,
  otherMonthInRange: rgb(189, 187, 187),
  disabled:rgba(31, 32, 65, 0.25),
  currentDate: white,
  common: rgba(31, 32, 65, 0.5),
  dayNames: #BC9CFF,
  navArrows: #BC9CFF) !default;

$datepickerBG: (selected: $purpleGradient,
  selectedHover: $purpleGradient,
  inRange: linear-gradient(180deg, #eee6fe 0%, #e3e8fd 100%),
  hover: $purpleGradient,
  currentDate: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%),

) !default;

$datepickerBorderColor: (nav: #efefef,
  inline: #d7d7d7,
  default: #dbdbdb) !default;

$datepickerNavigationHeight: 32px !default;
$datepickerNavigationButtonsOffset: 2px !default;

$datepickerPointerSize: 10px !default;
$datepickerPointerOffset: 10px !default;

// Transitions
$datepickerTransitionSpeed: .3s !default;
$datepickerTransitionEase: ease !default;
$datepickerTransitionOffset: 8px !default;

// Objects
%otherMonth {
  color: map_get($datepickerTextColor, otherMonth);

  &:hover {
    color: darken(map_get($datepickerTextColor, otherMonth), 10);
  }

  &.-disabled- {
    &.-focus- {
      color: map_get($datepickerTextColor, otherMonth);
    }
  }

  &.-selected- {
    color: #fff;
    background: map_get($datepickerBG, selected);
    font-family: 'Montserrat-bold', sans-serif;

    &.-focus- {
      background: map_get($datepickerBG, selected);

    }
  }

  &.-in-range- {
    background-color: map_get($datepickerBG, inRange);



    &.-focus- {
      // background-color: rgba(map_get($datepickerBG, inRange), .2);
      background: map_get($datepickerBG, inRange);

    }
  }


  &:empty {
    background: none;
    border: none;
  }
}