@import "./_datepicker-config";

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */

.datepicker--nav {
  display: flex;
  justify-content: space-between;
  //border-bottom: 1px solid map_get($datepickerBorderColor, nav);
  min-height: $datepickerNavigationHeight;
  padding: 16px 20px 15px 20px;

  .-only-timepicker- & {
    display: none;
  }
}

.datepicker--nav-title,
.datepicker--nav-action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

[data-action="next"]{
  margin-right:-12px;
}

.datepicker--nav-action {
  width: $datepickerDayCellSize;
  border-radius: $datepickerBorderRadius;
  user-select: none;
  margin-top:6px;



  &:hover {
    opacity:0.5;
  }

  &.-disabled- {
    visibility: hidden;
  }

  svg {
    width: 32px;
    height: 32px;
    fill: map_get($datepickerTextColor, navArrows);
  }

  path {
    //fill: none;
    //stroke: map_get($datepickerTextColor, navArrows);
   // stroke-width: 2px;
  }
}

.datepicker--nav-title {
  border-radius: $datepickerBorderRadius;
  padding: 0 8px;
  @include h1;
  font-size: 19px;
  margin-top: -4px;
  margin-left: -12px;


  /*i {
    font-style: normal;
    color: map_get($datepickerTextColor, navArrows);
    margin-left: 5px;
  }*/

  &:hover {
    opacity:0.5;

  }

  &.-disabled- {
    cursor: default;
    background: none;
  }
}

//  Buttons
// -------------------------------------------------

.datepicker--buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  margin-top: -3px;
  //border-top: 1px solid map_get($datepickerBorderColor, nav);
}

.datepicker--button {
  //color: map_get($datepickerTextColor, currentDate);
  cursor: pointer;
  //border-radius: $datepickerBorderRadius;
  flex: 1;
  //display: inline-block;
  //justify-content: center;
  //align-items: center;
  height: 41px;

   
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-stretch: extra-expanded;
    box-sizing: border-box;
    background: transparent;
    

  &:hover {
    opacity:0.5;
  }
 
}

[data-action='clear']{
  color:$dark_shade_50;
}

[data-action='add'] {
  color:$purple;
  text-align: right;
}