@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.booking-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__room-type {

    .number-sign {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 13px;
      color: $dark_shade_100;

    }

    .room-number {
      @include h1-cyrillic;
      letter-spacing: 0.8px;
      margin-left: 5px;
    }

    .room-type {
      font-family: 'Montserrat-bold', sans-serif;
      color: $purple;
      font-size: 12px;
      text-transform: uppercase;
      margin-left: 5px;
    }
  }

  &__room-price {
    .room-price {
      font-family: 'Montserrat-bold', sans-serif;
      color: $dark_shade_50;
      font-size: 14px;
    }

    .measure-unit {
      font-family: 'Montserrat', sans-serif;
      color: $dark_shade_50;
      font-size: 12px;
      margin-left: 4px;
    }
  }

}