mixin booking-header({roomNumber, roomType, roomPrice})
  .booking-header
    .booking-header__room-type
      span.number-sign №
      span.room-number #{roomNumber}
      span.room-type #{roomType}
    .booking-header__room-price
      span.room-price #{roomPrice}₽
      span.measure-unit в сутки