.input-date-dropdown {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  background: transparent;

  &__input {
    @include input;
    width: 100%;
    cursor: pointer;
    background: transparent;

    &::placeholder {
      color: $dark_shade_75;
    }
  }

  &::after {
    @include drop-arrow;
    cursor: pointer;
    z-index: -1;
  }
}