include ../form-registration/form-registration

mixin page-registration({formRegistration})
  .registration-page
    .registration-page__content
      .registration-page__form-registration
        +form-registration(formRegistration)