include ../form-registration/form-registration

mixin page-registration({formRegistration})
  .page-registration
    .page-registration__content
      .page-registration__form-registration
        +form-registration(formRegistration)