@import '../__radio-buttons/form__radio-buttons';

.registration{
    .form-header{
        letter-spacing: 0.8px;
    }
.wrap-default{
    &:nth-child(2){
        margin-top:13px;
    }
    &:nth-child(3){
        margin-top:5px;
    }
    &:nth-child(7){
        margin-top:20px;
    }
    &:nth-child(8){
        margin-top:4px;
    }
}
.radio-button{
    margin-top: 7px;
    &:nth-child(5){
        margin-left: 20px;
    }
}

.masked{
    margin-top: 22px;
}
.toggle-button{
    margin-top: 10px;
}
.form-footer{
    margin-top:18px;
}

}