extends ../../layout/uikit.pug

block variables

  -var pageTitle= 'Cards'

block content
  include ../../modules/icons/logo/logo
  include ../../modules/hotel_card/hotel_card
  include ../../modules/calendar/calendar
  include ../../modules/form-login/form-login
  include ../../modules/form-registration/form-registration
  include ../../modules/form-signup/form-signup
  include ../../modules/form-booking/form-booking


  .content-cards
    .logo_uikit
      +logo()
    .wrap-cadrs-columns
      .column
        +form-login()
        +form-registration()
      .column
        +form-booking()
        +form-signup()
      .column
        +calendar()
        +hotel_card (['assets/img/image2.png', 'assets/img/image2.png','assets/img/image1.png', 'assets/img/image2.png'], '888', '9 990₽', 'люкс', '145', 'hotel_img_arrow')
        +hotel_card (['assets/img/image3.png', 'assets/img/image2.png','assets/img/image1.png', 'assets/img/image2.png'], '840', '9 990₽', 'люкс', '65')