extends ../../layout/uikit.pug
include ../../modules/icons/logo/logo
include ../../modules/hotel-card/hotel-card
include ../../modules/calendar/calendar
include ../../modules/form-login/form-login
include ../../modules/form-registration/form-registration
include ../../modules/form-signup/form-signup
include ../../modules/form-booking/form-booking

block variables

  -var pageTitle= 'Cards'

block content
  .content-cards
    .logo_uikit
      +logo()
    .wrap-cadrs-columns
      .column
        +form-login()
        +form-registration()
      .column
        +form-booking()
        +form-signup()
      .column
        +calendar()
        +hotel-card ({images: ['image1.jpg', 'image1.jpg','image1.jpg', 'image1.jpg'], roomNumber: '888', roomPrice: '9 990', roomType: 'люкс', roomReviews: '145', sliderControls: true})
        +hotel-card ({images: ['image2.jpg', 'image2.jpg','image2.jpg', 'image2.jpg'], roomNumber: '840', roomPrice: '9 990', roomType: 'люкс', roomReviews: '65'})