mixin uikit-text(textTag, nameTage, textSample)
  .uikit-text
    .uikit-text__name(class= "uikit-text__name_" + textTag)  #{nameTage}
    .uikit-text__text-sample(class= "uikit-text__text-sample_" + textTag) #{textSample}