include ../logo/logo
include ../footer-column/footer-column
include ../input-subscription/input-subscription
include ../social-icons/social-icons

mixin footer({mainText, menu, subscription: {title, text, placeholder}, copyright, eng})
  - let classes = "footer_rus"
  if eng
    - classes ="footer_eng"
  .footer(class= classes)
    section.footer__main-section
      .footer__company-info-block
        .footer__logo
          +logo-icon({disabled:false})
        p.footer__company-info-block-text= mainText

      .footer__menu
        each column in menu
          .footer__menu-column
            +footer-column({title: column.title, links: column.links})

      .footer__subscription-block
        h3.footer__subscription-title= title
        p.footer__subscription-text= text
        .footer__input-subscription
          +input-subscription({placeholder: placeholder})

    section.footer__copyright-section
      p.footer__copyright-section-text= copyright
      .footer__social-icons
        +social-icons()
