@import './__column/footer__column.scss';
@import './footer-mobile/footer-mobile';


.wrap-footer {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  display: grid;
  grid-template-columns: 2fr 1.5fr 1.5fr 1.5fr 2fr;
  grid-template-areas: "logo  column1 column2 column3 subscription";
  padding: 100px 9.7%;
  /* 100px / 1440 = 0.07  140px / 1440 = 0.097 */
  border-bottom: 1px solid rgba(31, 32, 65, 0.05);


  .footer_logo-column {
    grid-area: logo;

    .logo .logo_name {
      fill: #1F2041;
      margin-left: 10px;

    }

    p {
      margin-top: 15px;
    }
  }

  .footer_subscription-column {
    grid-area: subscription;
    margin-top: 5px;

    p {
      margin-top: 15px;
    }

    .subscription-wrap {
      margin-top: 10px;

      .input-header {
        visibility: hidden;
      }
    }
  }

  .footer__column {
    margin-top: 5px;
    margin-left: 20px;

    li {
      &:first-child {
        margin-top: 19px;
      }

      &:not(:first-child) {
        margin-top: 16px;
      }
    }
  }

}

.wrap-footer-copyright {
  background: #FFFFFF;
  padding: 23px 9.7%;
  /* 140px / 1440 = 0.097 */
  display: flex;
  justify-content: space-between;

}

.socials {
  display: flex;
}

.social-twitter {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;

}

.social-fb {
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 20px;
}

.social-insta {
  background-image: url(../img/insta.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 20px;

}

@media (min-width: 1000px) {
  .wrap-footer-mobile {
    display: none !important;
  }
}

@media (max-width: 1000px) {
  .wrap-footer {
    display: none !important;
  }

  .wrap-footer-copyright {
    display: none !important;
  }
}