.footer {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  @media (max-width: 1100px) {
    display: none;
  }

  &__main-section {
    padding: 99px 9.1% 95px 9.7%;
    border-bottom: 1px solid $dark_shade_10;
    display: grid;
    grid-template-columns: 2fr 4.5fr 2fr;
    grid-template-areas: "logo menu subscription";
  }

  &__company-info-block {
    grid-area: logo;
    max-width: 260px;
  }

  &__company-info-block-text {
    margin-top: 17px;
  }

  &__menu {
    grid-area: menu;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }

  &_rus {
    .footer__main-section {
      padding-bottom: 97px;
    }

    .footer__menu {
      justify-content: initial;
      padding-right: 7.5%;
      padding-left: 4%;

      .footer__menu-column:nth-child(2) {
        margin-left: 10.5%;
      }

      .footer__menu-column:nth-child(3) {
        margin-left: 15.8%;
      }
    }
  }

  &_eng {
    .footer__main-section {
      padding-bottom: 97px;
    }

    .footer__menu {
      padding-right: 13%;
      padding-left: 4%;
    }
  }

  &__subscription-block {
    grid-area: subscription;
    max-width: 260px;
    margin-top: 5px;
    text-align: left;
    margin-left: 5px;
  }

  &__subscription-title {
    @include h3;
  }

  &__subscription-text {
    margin-top: 18px;
  }

  &__input-subscription {
    margin-top: 23px;
    width: 260px;
  }

  &__copyright-section {
    background: #FFFFFF;
    padding: 23px 9.3% 23px 9.7%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1100px) {
  .footer-mobile {
    display: none;
  }
}