@import '../../../assets/scss/utils/mixins.scss';

.footer {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);


  &__main-section {
    padding: 100px 9.2% 97px 9.6%;
    /*140px / 1440 = 0.097 */
    border-bottom: 1px solid rgba(31, 32, 65, 0.05);
    display: grid;
    grid-template-columns: 2fr 4.5fr 2fr;
    grid-template-areas: "logo menu subscription";
  }

  &__company-info-block {
    grid-area: logo;
    max-width: 260px;


    .footer__text {
      margin-top: 15px;
    }
  }

  &__menu {
    grid-area: menu;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding-right: 13%;
    padding-left: 4%;

  }



  &__subscription-block {
    grid-area: subscription;
    max-width: 260px;
    margin-top: 5px;
    text-align: left;

    .footer__subscription-title {
      @include h3;
      margin-left: 5px;
    }

    .footer__text {
      margin-top: 19px;
      margin-left: 5px;
    }

    .footer__input-subscription {
      margin-top: 22px;

      .input {
        width: 260px;
      }
    }
  }

  &__copyright-section {
    background: #FFFFFF;
    padding: 23px 9.3% 23px 9.7%;
    /*140px / 1440 = 0.097 */
    display: flex;
    justify-content: space-between;
  }

}

@media (min-width: 1000px) {
  .footer-mobile {
    display: none !important;
  }
}

@media (max-width: 1000px) {
  .footer {
    display: none !important;
  }

}