.registration-page {
  flex: 1 0 auto;

  &__content {
    background: url('./images/registration-bg.jpg') no-repeat;
    background-size: 107%;
    background-position: 47% 53%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 24px;
    max-width: 1440px;

    @media (max-width: 1200px) {
      background-size: cover;
      flex-direction: column;
    }
  }

  &__form-registration {
    width: 381px;
  }
}