.registration-page {
  &__content {
    background: url('./images/registration-bg.jpg') no-repeat;
    background-size: cover;
    background-size: 107%;
    background-position: 47% 53%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 24px;
  }
}