.button-small {
  @include button;
  line-height: 42px;
  background: $purpleGradient;
  width: 99px;
  color: $white;

  &_disabled {
    opacity: 0.5;

    &:hover {
      cursor: initial;
    }
  }
}