.header{
    background: url(../img/image1.png) no-repeat;
    background-size: cover;
    height:830px;
    position: relative;

}
.header .wrap-form{
position: absolute;
left: 9.7%; /* 140px / 1440px = 0,097 */
top: 9.7%; /* 140px / 1440px = 0,097 */
}