@import '../../../assets/scss/utils/vars.scss';

.header {
  padding: 14.5px 9.7%;
  /* 14.5px / 1440 = 0.01  140px / 1440 = 0.097 */
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  display: grid;
  grid-template-columns: 1fr 9.5fr 2.25fr;
  grid-template-areas: "logo menu buttons";
  align-items: center;

  &_logged-in {
    display: grid;
    grid-template-columns: 1fr 10.10fr 1.65fr;
    grid-template-areas: "logo menu account";
  }

  &__logo {
    grid-area: logo;
  }

  &__menu {
    grid-area: menu;
    justify-self: end;
    margin-right: 20px;
    /* 2.7% */

    .menu_eng {
      margin-right: 8px;
    }

    @media (max-width: 1000px) {
      display: none !important;
    }
  }

  &__menu-mobile {
    .menu {
      display: block;
    }

    @media (min-width: 1000px) {
      display: none !important;
    }
  }


  &__buttons {
    grid-area: buttons;
    display: flex;

    @media (max-width: 400px) {
      grid-area: menu;
      margin-left: 5%;
    }

    .button_login {

      .button-ghost {
        height: 34px;
        line-height: 30px;
        width: auto;

        &__text {
          padding: 0px 19px;
        }

      }
    }

    .button_register {
      margin-left: 20px;

      @media (max-width: 700px) {
        margin-left: 2%;
      }

      .button-big {
        letter-spacing: 0px;
        height: 34px;
        line-height: 34px;
        padding-right: 20px;
        padding-left: 19px;

        @media (max-width: 700px) {
          display: none;
        }
      }

      .icon-register {
        display: none;
        font-family: 'Font Awesome solid';
        color: $dark_shade_75;
        line-height: 34px;
        font-size: 20px;

        &::before {
          content: '\f234';
        }

        @media (max-width: 700px) {
          display: block;
        }
      }
    }
  }

  &__account-link {
    grid-area: account;
    color: $dark_shade_50;
    text-align: right;
    border-left: 1px solid rgba(31, 32, 65, 0.1);
    padding-left: 30px;
    margin-left: 3px;
  }

}

@media (min-width: 1000px) {
  .mburger {
    display: none !important;
  }

  /*  .header__menu-mobile {
    display: none !important;
  }*/
}


@media (max-width: 1000px) {
  /* .header__menu {
    display: none !important;
  }*/

  .mburger {
    position: absolute;
    top: 5px;
    right: 5px;
    --mb-bar-height: 2px;
    cursor: pointer;
  }
}