@import '~mburger-css/dist/mburger.css';
@import '~jquery.mmenu/dist/jquery.mmenu.all.css';

.header {
  position: relative;
  padding: 14.5px 9.7%;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  display: grid;
  grid-template-columns: 1fr 9.5fr 2.25fr;
  grid-template-areas: "logo menu buttons";
  align-items: center;

  &_logged-in {
    display: grid;
    grid-template-columns: 1fr 10.10fr 1.65fr;
    grid-template-areas: "logo menu account";
  }

  &__mburger {
    @media (min-width: 1100px) {
      display: none !important;
    }

    @media (max-width: 1100px) {
      position: absolute;
      top: 5px;
      right: 5px;
      --mb-bar-height: 2px;
      cursor: pointer;
    }
  }

  &__logo {
    grid-area: logo;
  }

  &__menu {
    grid-area: menu;
    justify-self: end;
    margin-right: 20px;

    .menu_eng {
      margin-right: 8px;
    }

    @media (max-width: 1100px) {
      display: none;
    }
  }

  &__menu-mobile {
    .menu {
      display: block;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__buttons {
    grid-area: buttons;
    display: flex;

    @media (max-width: 500px) {
      position: absolute;
      right: 27px;
    }
  }

  &__button-login {

    .button-ghost {
      line-height: 30px;
      width: auto;

      &__text {
        padding: 0px 19px;
      }

      @media (max-width: 700px) {
        display: none;
      }
    }
  }

  &__button-register {
    margin-left: 20px;

    @media (max-width: 700px) {
      margin-left: 4%;
    }

    .button-big {
      letter-spacing: 0px;
      line-height: 32px;
      padding-right: 20px;
      padding-left: 19px;

      @media (max-width: 700px) {
        display: none;
      }
    }
  }

  &__icon-register {
    display: none;
    font-family: 'Font Awesome solid';
    color: $dark_shade_50;
    line-height: 34px;
    font-size: 20px;

    &::before {
      content: '\f234';
    }

    @media (max-width: 700px) {
      display: block;
    }
  }

  &__account-link {
    grid-area: account;
    color: $dark_shade_50;
    text-align: right;
    border-left: 1px solid rgba(31, 32, 65, 0.1);
    padding-left: 30px;
    margin-left: 3px;
  }

  &_eng {
    .button-ghost {
      &__text {
        padding-left: 18px;
        padding-right: 18px;
      }
    }
  }
}