include ../logo/logo
include ../menu/menu
include ../button-big/button-big
include ../button-ghost/button-ghost

mixin header({links, buttonLogin, buttonRegister, user, loggedIn, eng= false})   
  - const classes = ["header"]
  if loggedIn
    - classes.push("header_logged-in")
  if eng
    - classes.push("header_eng")
  div(class=classes)
    .header__mburger
      a(class="mburger mburger--spin" href="#collapse-menu")  
        b
        b
        b
    nav.header__menu-mobile.js-header__menu-mobile#collapse-menu
      +menu({links, mobile: true}) 
    .header__logo
      +logo({disabled: false})
    nav.header__menu
      +menu({links, eng})
    if !loggedIn
      .header__buttons
        .header__button-login
          +button-ghost({text: buttonLogin, inHeader: true, inHeaderEng: eng})
        .header__button-register
          +button-big({text: buttonRegister, type: "button", inHeader: true})
        a.header__icon-register(href="/mock-address/")
    else
      .header__account-link
        .header__user-name= user
