include ../../modules/header/header
include ../../modules/footer/footer
include ../../modules/footer-mobile/footer-mobile

mixin uikit-headers-footers({headers, footer, mobileFooter})
  .uikit-headers-footers
    .uikit-headers-footers__content
      .uikit-headers-footers__header-loggedout
        +header(headers.loggedOut)
      .uikit-headers-footers__header-loggedin  
        +header(headers.loggedIn)
      .uikit-headers-footers__footer-desktop  
        +footer({
          mainText: footer.mainText,
          menu: footer.menu,
          subscription: footer.subscription,
          copyright: footer.copyright,
          eng: footer.eng,
        })
      .uikit-headers-footers__footer-mobile 
        +footer-mobile(mobileFooter)
