include ../button-big/button-big
include ../button-ghost/button-ghost

mixin form-footer({bigButtonText, ghostButtonText, footerText, logout})
  - const classes = ["form-footer"]
  if logout
  - classes.push("form-footer_logout")
    div(class=classes)
      .form-footer__submit-button
        +button-big({text: bigButtonText, type: "submit", hasArrow: true})
    if logout
      .form-footer__logout-block
        p.form-footer__text #{footerText}
        .form-footer__login-button
        +button-ghost({text: ghostButtonText})
