.form-footer {
  &__logout-block {
    padding-top: 28px;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__login-button {
    .button-ghost {
      min-width: 99px;
    }
  }
}