@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.radio-button {
  height: 20px;
  line-height: 20px;
  width: 98px;
  position: relative;

  &__label {
    position: relative;
    cursor: pointer;
    line-height: 20px;

    .radio {
      position: absolute;
      z-index: -1;
      opacity: 0;

      +.title:before {
        content: "";
        width: 20px;
        height: 20px;
        background: $white;
        border: 1px solid $dark_shade_25;
        box-sizing: border-box;
        border-radius: 10px;
        position: absolute;
        left: 0px;
        top: 0px;
      }


      &:checked+.title:before {
        border: 1px solid $purple;
      }

      &:checked+.title:after {
        content: "";
        width: 12px;
        height: 12px;
        background: $purpleGradient;
        border-radius: 10px;
        position: absolute;
        left: 4px;
        top: 4px;
      }
    }

    .title {
      padding-left: 30px;
    }
  }
}