mixin radio-button({title, value, checked})
  .radio-button
    label(class='radio-button__label') 
      input(class='radio-button__radio' type='radio' name='sex' value=value checked=checked)
      .radio-button__title #{title}