include ../booking-header/booking-header
include ../ratings/ratings

mixin hotel-card({images, roomNumber, roomPrice, roomType, measureUnits, roomReviews, sliderControls})
  - const classes = ["hotel-card__slider"]
  if sliderControls
    - classes.push("hotel-card__slider_with-controls")
  .hotel-card.js-hotel-card
    div(class=classes)
      ul.hotel-card__images-list
        each image, index in images
          li.hotel-card__image-wrapper 
            img(src=require("../modules/hotel-card/images/" + image) class="hotel-card__image" alt="Room image" + index)
    .hotel-card__caption
      .hotel-card__header
        +booking-header({roomNumber, roomType, roomPrice, measureUnits, inHotelCard: true})
      .hotel-card__reviews-block
        +rating()
        .hotel-card__reviews
          a(class="hotel-card__reviews-link" href="./room-details.html")
            span.hotel-card__reviews-number= roomReviews[0]
            span.hotel-card__measure-unit= roomReviews[1]