include ../booking-header/booking-header
include ../ratings/ratings

mixin hotel-card({images, roomNumber, roomPrice, roomType, roomReviews, sliderControls})
  - let classes = []
  if sliderControls
    - classes.push('hotel-card__slider_with-controls')
  .hotel-card
    .hotel-card__slider(class=classes)
      ul.hotel-images-list
        each image, index in images
          li.hotel-image 
            img(src=require('../../modules/hotel-card/images/' + image) alt='Room image' + index)
    .hotel-card__caption
      .hotel-card__header
        +booking-header({roomNumber: roomNumber, roomType: roomType, roomPrice: roomPrice})
      .hotel-card__reviews
        +rating()
        .reviews
          span.reviews-number #{roomReviews}
          span.measure-unit Отзывов