mixin like_button(defaultCounter, likeName, likeValue, likeChecked)
    label.like-button
        input(type='checkbox', name=likeName, value=likeValue, checked=likeChecked)
        .like
            .material-icons
            span.like-counter #{defaultCounter}