.checkbox__elem{
    max-width: 230px;
     
    label{
    position: relative; 
    display: inline-block;
    cursor: pointer;
    line-height: 18px;
    padding-left: 30px;
    
    }
    span{
        display: inline-block;
    }
}
input[type=checkbox] {
    display: none;
    }
.checkbox-button{
    + span:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px; 
    width: 20px;
    height: 20px;
    background: $white;
    border: 1px solid $dark_shade_25;
    box-sizing: border-box;
    border-radius: 4px;
    
    }
    &:checked + span:before { 
        border: 1px solid $purple;
      }
}
.checkbox-button{
    &:checked + span:after{
        content: "";
        width: 6px;
        height: 8px;
        border-right: 2px solid $purple; 
        border-bottom: 2px solid $purple; 
        position: absolute; 
        left: 7px;
        top: 4px;  
        transform: rotate(45deg);
    } 
}
        