mixin iqdropdown({items, placeholder, single, multiple})
  - const classes = []
  if single
    - classes.push("input-dropdown_single", "js-input-dropdown_single")
  if multiple
    - classes.push("input-dropdown_multiple", "js-input-dropdown_multiple")
  .iqdropdown(class=classes)
    p.iqdropdown-selection= placeholder
    .iqdropdown-menu
      if items
        each item, index in items     
          .iqdropdown-menu-option(data-id="item" + (index+1))
            div
              p.iqdropdown-item #{item}                            