.button{
    height: 44px;
    border-radius: 22px;
    font-style: normal;
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 12px;
    line-height: 42px;
    text-transform: uppercase;
    font-stretch: extra-expanded;
    box-sizing: border-box;
}

.button:hover{
    opacity: 0.5;
    cursor:pointer;
}
