.button{
    height: 34px;
    border-radius: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.button:hover{
    opacity: 0.5;
    cursor:pointer;
}

.arrow{
    fill: white;
}