
@import './_focused/form__input_focused';

.wrap-default{
    position: relative;
    width:320px;
}

.input-header{
    @include h3;
}

.form-input, .default-input { 
    width: 320px;
    height: 44px;
    background: $white;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: $mainFontSize;
    line-height: 44px;
    padding-left:15px;
    margin-top:5px;
    border: 1px solid $dark_shade_25;
    &::placeholder{
        color: $dark_shade_25;
        }
    &:focus{
        @include focused;
    }
}




