mixin formInput(input_type, i_h, ph_txt, mod, dropdown)
    .wrap-input
        .input-header #{i_h}
        input(class='form-input' + ' ' + mod  type=input_type placeholder=ph_txt)
        .material-icons
        if dropdown
            include ../../icons/drop-arrow/drop-arrow 