@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.wrap-input-subscription {
  width: 266px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;


  .input-subscription {
    @include input;
    width: 266px;
  }

  &::after {
    @include right-arrow;
    color: $purple;
    position: absolute;
    right: 10px;
  }
}