.input-subscription {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;


  &__input {
    @include input;
    width: 100%;
  }

  &::after {
    @include right-arrow;
    color: $purple;
    position: absolute;
    right: 10px;
  }
}