extends ../layout/main/main
include ../modules/page-landing/page-landing

block variables

  - let pageTitle= "Landing Page"

block content
  +page-landing({comment: "Лучшие номера для вашей работы, отдыха и просто вдохновения"})