extends ../layout/main/main
include ../modules/page-room-details/page-room-details

block variables

  - let pageTitle= 'Room details'

block content
  +room-details-page({
    gallery: {
      main: 'main-gallery-image.jpg',
      small1: 'small-gallery-image-1.jpg',
      small2: 'small-gallery-image-2.jpg',
    },
    roomIcons: {
      title: 'Сведения о номере',
      icons:[
        {icon:'tag_faces', title:'Комфорт', descr: 'Шумопоглощающие стены', hasLine: true},
        {icon:'location_city', title:'Удобство', descr: 'Окно в каждой из спален', hasLine: true},
        {icon:'whatshot', title:'Уют', descr: 'Номер оснащен камином'},
      ]},
    chart: {title: 'Впечатления от номера'},
    reviews: {
      title: 'Отзывы посетителей номера',
      amount: '2 отзыва',
      texts:[
        {image: 'review-image-1.jpg', author: 'Мурад Сарафанов', date: '5 дней назад', text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', likeNumber: '12', likeChecked: 'checked'},
        {image: 'review-image-2.jpg', author: 'Патрисия Стёклышкова', date: 'Неделю назад', text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент', likeNumber: '2'}
      ]},
      bulletList: {
        title: 'Правила',
        items: [
          'Нельзя с питомцами', 
          'Без вечеринок и мероприятий', 
          'Время прибытия — после 13:00, а выезд до 12:00'
        ]},
      shortText: {title: 'Отмена', text: 'Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.'},
  })