extends ../layout/main

block variables

  -var pageTitle= 'Search room'

block content
  include ../modules/hotel_card/hotel_card
  include ../modules/forms/__input/form__input
  include ../modules/range_slider/multirange
  include ../modules/checkbox-group/checkbox-group
  include ../modules/pagination/pagination

  .search-room-content
    aside.filter-column
      .filter-column-elem
        +formInput('text', 'даты пребывания в отеле', '19 авг - 23 авг', 'middle-calendar', 'wrap-middle')
      .filter-column-elem.guests
        +formInput('', 'гости', '', 'default-input', 'wrap-middle', '', 'dropdown', '3', ['взрослые', 'дети', 'младенцы'])
      .filter-column-elem
        +rangeMixin('диапазон цены')
        p Стоимость за сутки пребывания в номере
      .filter-column-elem
        +checkbox-group('3', 'Checkbox Buttons', ['mycheckbox', 'mycheckbox2', 'mycheckbox2'], ['check1', 'check2', 'check3'], ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)'], ['none', 'checked', 'checked'])
      .filter-column-elem
        +checkbox-group('2', 'доступность', '', '', ['Широкий коридор', 'Помощник для инвалидов'], '', 'rich', ['Ширина коридоров в номере не менее 91 см.', 'На 1 этаже вас встретит специалист и проводит до номера.'])
      .filter-column-elem.bedroom
        +formInput('', 'удобства номера', '', 'middle-input', 'wrap-middle', '', 'dropdown', '3', ['спальни', 'кровати', 'ванные комнаты']) 
      .filter-column-elem
        +checkbox-group('7', 'дополнительные удобства', '', '', ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор'], '', 'expandable')
    .room-cards-column
      h1 Номера, которые мы для вас подобрали
      .room-cards-grid
        +hotel_card (['assets/img/image2.png', 'assets/img/image2.png','assets/img/image2.png', 'assets/img/image2.png'], '888', '9 990₽', 'люкс', '145', 'hotel_img_arrow')            
        +hotel_card (['assets/img/image3.png', 'assets/img/image3.png','assets/img/image3.png', 'assets/img/image3.png'], '840', '9 990₽', '', '65')
        +hotel_card (['assets/img/image5.png', 'assets/img/image5.png','assets/img/image5.png', 'assets/img/image5.png'], '980', '8 500₽', 'люкс', '35')        
        +hotel_card (['assets/img/image6.png', 'assets/img/image6.png','assets/img/image6.png', 'assets/img/image6.png'], '856', '7 300₽', '', '19')
        +hotel_card (['assets/img/image7.png', 'assets/img/image7.png','assets/img/image7.png', 'assets/img/image7.png'], '740', '6 000₽', '', '44')
        +hotel_card (['assets/img/image8.png', 'assets/img/image8.png','assets/img/image8.png', 'assets/img/image8.png'], '982', '5 800₽', '', '56')
        +hotel_card (['assets/img/image9.png', 'assets/img/image9.png','assets/img/image9.png', 'assets/img/image9.png'], '678', '5 500₽', '', '45')
        +hotel_card (['assets/img/image10.png', 'assets/img/image10.png','assets/img/image10.png', 'assets/img/image10.png'], '450', '5 300₽', '', '39')
        +hotel_card (['assets/img/image11.png', 'assets/img/image11.png','assets/img/image11.png', 'assets/img/image11.png'], '350', '5 000₽', '', '77')
        +hotel_card (['assets/img/image12.png', 'assets/img/image12.png','assets/img/image12.png', 'assets/img/image12.png'], '666', '5 000₽', '', '25')
        +hotel_card (['assets/img/image13.png', 'assets/img/image13.png','assets/img/image13.png', 'assets/img/image13.png'], '444', '5 000₽', '', '15')
        +hotel_card (['assets/img/image14.png', 'assets/img/image14.png','assets/img/image14.png', 'assets/img/image14.png'], '352', '5 000₽', '', '55')
      .room-search-pagination
        +pagination