extends ../layout/content-wrapper/content-wrapper
include ../modules/page-sign-in/page-sign-in

block variables

  - let pageTitle= "Sign in"

block content
  +page-sign-in({
    formSignIn:{
      header: "Войти", 
      email: {placeholder: "Email", type: "text"}, 
      password: {placeholder: "Пароль", type: "text"}, 
      footer: {
        bigButtonText: "Войти", 
        ghostButtonText: "создать", 
        footerText:"Нет аккаунта на Toxin?", 
        logout: true
      }
    }
  })