extends ../layout/uikit-layout/uikit-layout
include ../modules/uikit-cards/uikit-cards

block variables

  - let pageTitle= "Cards"

block content
  +uikit-cards({
    formLogin:{
      header: "Найдём номера под ваши пожелания", 
      datesInputs: {
        titles: ["прибытие", "выезд"],
        placeholders: ["ДД.ММ.ГГГГ", "ДД.ММ.ГГГГ"]
      }, 
      guestsInput: {
        header: "гости", 
        items: ["взрослые", "дети", "младенцы"], 
        placeholder: "Сколько гостей", 
        single: true
      }, 
      footer: {bigButtonText: "Подобрать номер"}
    },
    formRegistration:{
      header: "Регистрация аккаунта",
      name: {placeholder: "Имя", type: "text"}, 
      surname: {placeholder: "Фамилия", type: "text"}, 
      sex: [
        {title: "Мужчина", value: "male", checked: "checked"},
        {title: "Женщина", value: "female"},
      ],
      dateOfBirth: {
        header: "Дата рождения",
        input: {placeholder: "ДД.ММ.ГГГ", type: "text", masked: true},
      },  
      access: {
        header: "Данные для входа в сервис",
        email: {placeholder: "Email", type: "text"},
        password: {placeholder: "Пароль", type: "text"},
      }, 
      subscription: {
        title: "Получать спецпредложения", 
        value: "mytoggle", 
        name: "toggle"
      },
      footer: {
        bigButtonText: "Перейти к оплате", 
        ghostButtonText: "войти", 
        footerText:"Уже есть аккаунт на Toxin", 
        logout: true
      }
    },
    formBooking:{
      header:{
        roomNumber: "888", 
        roomType: "люкс", 
        roomPrice: "9 990",
        measureUnits: {rubles: "₽", day: "в сутки"},
      },
      dateInputs:{
        titles: ["прибытие", "выезд"],
        placeholders: ["ДД.ММ.ГГГГ", "ДД.ММ.ГГГГ"],
      },
      guestsInput:{
        header: "гости", 
        items: ["взрослые", "дети", "младенцы"], 
        placeholder: "Сколько гостей", 
        single: true
      },
      priceList:{
        items: [
          {item: "9 990₽ х 4 суток", itemPrice: "39 960₽"},
          {item: "Сбор за услуги: скидка 2 179₽", itemPrice: "0₽", withIcon: true},
          {item: "Сбор за дополнительные услуги", itemPrice: "300₽", withIcon: true},
        ],
        final: "Итого", 
        finalPrice: "38 081₽",
      },
      footer:{bigButtonText: "забронировать"},
    },
    formSignup:{
      header: "Войти", 
      email: {placeholder: "Email", type: "text"}, 
      password: {placeholder: "Пароль", type: "text"}, 
      footer: {
        bigButtonText: "Войти", 
        ghostButtonText: "создать", 
        footerText:"Нет аккаунта на Toxin?", 
        logout: true
      }
    },
    hotelCards:[
      {images: ["image-1.jpg", "image-1.jpg","image-1.jpg", "image-1.jpg"], roomNumber: "888", roomPrice: "9 990", roomType: "люкс", measureUnits: {rubles: "₽", day: "в сутки"}, roomReviews: ["145", "Отзывов"], sliderControls: true},
      {images: ["image-2.jpg", "image-2.jpg","image-2.jpg", "image-2.jpg"], roomNumber: "840", roomPrice: "9 990", measureUnits: {rubles: "₽", day: "в сутки"}, roomReviews: ["65", "Отзывов"]}
    ]
    })