extends ../../layout/uikit/uikit-layout
include ../../modules/uikit-headers-footers/uikit-headers-footers

block variables

  - let pageTitle= 'Headers&Footers'

block content
  +uikit-headers-footers()