extends ../../layout/uikit/uikit-layout
include ../../modules/page-index/index

block variables

  - let pageTitle= 'Project menu'

block content
  +project-menu({
    pages:[
      {name:'Landing page', link: './landing-page.html'},
      {name:'Sign in page', link: './sign-in.html'}, 
      {name:'Registration page', link: './registration.html'}, 
      {name:'Search room page', link: './search-room.html'}, 
      {name:'Room details page', link: './room-details.html'}, 
    ],
    uikit:[
      {name:'UIkit Colors&Types', link: './uikit-colors-type.html'}, 
      {name:'UIkit Form elements', link: './uikit-form-elements.html'}, 
      {name:'UIkit Cards', link: './uikit-cards.html'}, 
      {name:'UIkit Headers&Footers', link: './uikit-headers-footers.html'}, 
    ]
  })
