@import '../../../assets/scss/utils/vars.scss';

.project-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  &__item {
    background: $dark_shade_10;
    margin-top: 5px;
    padding: 10px 20px;

    &:hover {
      opacity: 0.8;
    }
  }
}