extends ../../layout/uikit/uikit-layout.pug

block variables

  -var pageTitle= 'Project menu'

block content
  .project-menu
    .project-menu__header
      h1 Project menu
    ul.project-menu__menu
      li.project-menu__item
        a(href='./landing-page.html') Landing page
      li.project-menu__item
        a(href='./sign-in.html') Sign in page
      li.project-menu__item
        a(href='./registration.html') Regisration page
      li.project-menu__item
        a(href='./search-room.html') Search room page
      li.project-menu__item
        a(href='./room-details.html') Room details page
      h2 Uikit
      li.project-menu__item
        a(href='./uikit-colors-type.html') UIkit Colors&Types
      li.project-menu__item
        a(href='./uikit-form-elements.html') UIkit Form elements
      li.project-menu__item
        a(href='./uikit-cards.html') UIkit Cards
      li.project-menu__item
        a(href='./uikit-headers-footers.html') UIkit Headers&Footers