.button_ghost-button{ 
    width: 99px;
    line-height: 40px!important;
    color: $purple;
    background: $purpleGradient;
    padding:2px;
    span{
        background: white;
        display: block;
        border-radius: 22px;
    }
  
}