mixin like-button({number, name, value, checked})
  label.like-button
    input(class="like-button__like" type="checkbox", name=name, value=value, checked=checked)
    .like-button__body
      span.material-icons
      span.like-button__counter #{number}