include ../button/button
include ../nav_link/nav_link
include ../icons/logo/logo
mixin navbar(loginState, navLinks, buttons)
  .header_navigation    
    .navbar 
      +logo('url(#purple)', 'url(#green)', '42', '42')    
      a(class="mburger" href="#my-menu")
        b
        b
        b 
      nav.menu-mobile#my-menu
        ul
          each navLink in navLinks
            li   
              if navLink.mod
                +navLink(navLink.href, navLink.val, 'dropdownLink')
                .material-icons     
              else
                +navLink(navLink.href, navLink.val)
      nav.menu
        ul
          each navLink in navLinks
            li   
              if navLink.mod
                +navLink(navLink.href, navLink.val, 'dropdownLink')
                .material-icons     
              else
                +navLink(navLink.href, navLink.val)
      if buttons
        .header_buttons
          each button in buttons
            +Button(button.style, button.name, button.position)
      else
        each state in loginState
          .user_name #{state.user_name}
