.slider-wrap{

 
}

#amount{
    color:$dark_shade_25;
}

.ui-slider{
width: 266px;
height: 6px;
border: 1px solid $dark_shade_25;
box-sizing: border-box;
border-radius: 3px;
}
.ui-slider-handle{
    display: block;
    border-radius: 50%;  
}
.ui-state-default{
    border: 2px solid #FFFFFF!important;
    height: 15px !important;
    width: 15px!important;
    background: $greenGradient!important;
    box-sizing: border-box!important;
    margin-top: -1px;
}
.ui-slider-range{
    background: $greenGradient;
}