.form-signup {
  &__form {
    @include form;
    padding-top: 10%;
  }

  &__header {
    letter-spacing: 0.8px;
    margin-top: 1px;
  }

  &__login-data {
    margin-top: 20px;
  }

  &__password {
    margin-top: 10px;
  }

  &__footer {
    margin-top: 20px;
    padding-bottom: 1px;
  }
}