.signup {
  &__form {
    @include form;
    padding-top: 10%;
  }

  &__header {
    letter-spacing: 0.8px;
    margin-top: 1px;
  }

  &__login-data {
    margin-top: 20px;

    .input:nth-child(2) {
      margin-top: 10px;
    }
  }

  &__footer {
    margin-top: 20px;
  }
}