@import '../../../assets/scss/utils/mixins.scss';

.signup {
  &__form {
    @include form;
  }

  &__header {
    letter-spacing: 0.8px;
    margin-top: -2px;
  }

  &__login-data {
    margin-top: 20px;

    .input:nth-child(2) {
      margin-top: 10px;
    }
  }

  &__footer {
    margin-top: 20px;
  }
}