include ../input/input
include ../form-footer/form-footer

mixin form-signup({header, email, password, footer})
  .form-signup
    form.form-signup__form
      h1.form-signup__header= header
      .form-signup__login-data
        .form-signup__email
          +input(email)
        .form-signup__password
          +input(password)
      .form-signup__footer
        +form-footer(footer)