include ../input/input
include ../form-footer/form-footer

mixin form-signup({header, email, password, footer})
  .signup
    form.signup__form
      h1.signup__header= header
      .signup__login-data
        +input(email)
        +input(password)
      .signup__footer
        +form-footer(footer)