include ../__input/form__input
include ../__form-footer/form__form-footer
include ../__radio-buttons/form__radio-buttons
include ../__calendar-block/form__calendar-block

.wrap-form
    form(class='booking')
        .form-header 
            span.numbersign №
            span.number 888
            span.purpletext люкс
            .priceline
                span.price 9 990₽
                span.priceper в сутки
        +form__calendar-block('прибытие', 'выезд')        
        .guests
            +formInput('', 'гости', '', 'default-input', 'wrap-default', '', 'dropdown', '3', ['взрослые', 'дети', 'младенцы'])
        .calculation-block
            .calc-line
                .type 9 990₽ х 4 суток
                span.typeprice 39 960₽
            .calc-line
                span.type Сбор за услуги: скидка 2 179₽ 
                    i.material-icons.md-dark
                        | info_outline
                span.typeprice 0₽
            .calc-line
                span.type Сбор за дополнительные услуги 
                    i.material-icons.md-dark
                        | info_outline
                span.typeprice 300₽
            .sum-line 
                |Итого 
                span
                |38 081₽
        +form-footer('Забронировать')