.booking {

  &:nth-child(3) {
    margin-left: 22px;
  }

  .form-header {}

  .wrap-input {
    margin-top: 19px;
    display: inline-block;

    &:nth-child(3) {
      margin-left: 18px;
    }
  }

  .calc-line {
    position: relative;
    margin-top: -5px;

    &:not(:first-child) {
      margin-top: 11px;
    }

    .type {
      display: inline-block;
      max-width: 242px;
      line-height: 19px;
      position: relative;
      padding-right: 28px;

      .material-icons {
        font-family: 'Material Icons';
        display: inline-block;
        color: $dark_shade_25;
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .typeprice {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .sum-line {
    @include h1;
    font-size: 19px;
    margin-top: 25px;
    letter-spacing: 0.3px;

    span {
      display: inline-block;
      width: 187px;
      border-bottom: 1px dashed $dark_shade_25;
    }
  }

  .wrap-small {
    margin-top: 15px;
  }

  .form-footer {
    margin-top: 16px;
  }
}