include ../hotel-card/hotel-card
include ../datepicker/datepicker
include ../form-login/form-login
include ../form-registration/form-registration
include ../form-signup/form-signup
include ../form-booking/form-booking

mixin uikit-cards({formBooking, hotelCards})
  .cards-page
    .cards-page__content
      .cards-page__column
        .cards-page__form-login
          +form-login()
        .cards-page__form-registration
          +form-registration()
      .cards-page__column
        .cards-page__form-booking
          +form-booking(formBooking)
        .cards-page__form-sign-up
          +form-signup()
      .cards-page__column
        .cards-page__calendar
          +datepicker()
        each card in hotelCards
          .cards-page__hotel-card
            +hotel-card(card)