include ../hotel-card/hotel-card
include ../datepicker/datepicker
include ../form-login/form-login
include ../form-registration/form-registration
include ../form-sign-in/form-sign-in
include ../form-booking/form-booking

mixin uikit-cards({formLogin, formRegistration, formBooking, formSignIn, hotelCards})
  .uikit-cards
    .uikit-cards__content
      .uikit-cards__column
        .uikit-cards__form-login
          +form-login(formLogin)
        .uikit-cards__form-registration
          +form-registration(formRegistration)
      .uikit-cards__column
        .uikit-cards__form-booking
          +form-booking(formBooking)
        .uikit-cards__form-sign-in
          +form-sign-in(formSignIn)
      .uikit-cards__column
        .uikit-cards__calendar
          +datepicker()
        each card in hotelCards
          .uikit-cards__hotel-card
            +hotel-card(card)