@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Montserrat-Regular.svg') format('svg'),
         url('/fonts/Montserrat-Regular.woff') format('woff'),
         url('/fonts/Montserrat-Regular.ttf') format('truetype');         
  }
  @font-face {
    font-family: 'Montserrat-bold';
    font-style: normal;
    font-weight: bold;
        src: url('/assets/fonts/Montserrat-Bold.svg') format('svg'),
            url('/assets/fonts/Montserrat-Bold.woff') format('woff'),
            url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Quicksand-Regular.svg') format('svg'),
         url('/assets/fonts/Quicksand-Regular.woff') format('woff'),
         url('/assets/fonts/Quicksand-Regular.ttf') format('truetype');         
  }
  @font-face {
    font-family: 'Quicksand-bold';
    font-style: normal;
    font-weight: bold;
        src: url('/assets/fonts/Quicksand-Bold.svg') format('svg'),
            url('/assets/fonts/Quicksand-Bold.woff') format('woff'),
            url('/assets/fonts/Quicksand-Bold.ttf') format('truetype');
  }