@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-regular/montserrat-regular.svg') format('svg'),
    url('../fonts/montserrat-regular/montserrat-regular.woff') format('woff'),
    url('../fonts/montserrat-regular/montserrat-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/montserrat-bold/montserrat-bold.svg') format('svg'),
    url('../fonts/montserrat-bold/montserrat-bold.woff') format('woff'),
    url('../fonts/montserrat-bold/montserrat-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/quicksand-regular/quicksand-regular.svg') format('svg'),
    url('../fonts/quicksand-regular/quicksand-regular.woff') format('woff'),
    url('../fonts/quicksand-regular/quicksand-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/quicksand-bold/quicksand-bold.svg') format('svg'),
    url('../fonts/quicksand-bold/quicksand-bold.woff') format('woff'),
    url('../fonts/quicksand-bold/quicksand-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Font Awesome';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fontawesome/fa-brands-400.woff2') format('woff2'),
    url('../fonts/fontawesome/fa-brands-400.woff') format('woff'),
    url('../fonts/fontawesome/fa-brands-400.ttf') format('opentype'),
    url('../fonts/fontawesome/fa-regular-400.svg') format('svg');
}

@font-face {
  font-family: 'Font Awesome regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fontawesome/fa-regular-400.woff2') format('woff2'),
    url('../fonts/fontawesome/fa-regular-400.woff') format('woff'),
    url('../fonts/fontawesome/fa-regular-400.ttf') format('opentype');
}

@font-face {
  font-family: 'Font Awesome solid';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fontawesome/fa-solid-900.woff2') format('woff2'),
    url('../fonts/fontawesome/fa-solid-900.woff') format('woff'),
    url('../fonts/fontawesome/fa-solid-900.ttf') format('opentype');
}