@import "vars";

//Headers

@mixin h1 {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $dark_shade_100;

}

@mixin h1-cyrillic {
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $dark_shade_100;

}

@mixin h2 {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $dark_shade_100;
}

@mixin h3 {
  font-family: 'Montserrat-bold', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  color: $dark_shade_100;
  text-transform: uppercase;
}

@mixin sub-header {
  font-family: 'Montserrat-bold', sans-serif !important;
  font-size: 14px;
  color: $dark_shade_75 !important;
  display: inline-block;

}

// Buttons

@mixin button {
  height: 44px;
  border-radius: 22px;
  font-style: normal;
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 12px;
  line-height: 42px;
  text-transform: uppercase;
  font-stretch: extra-expanded;
  box-sizing: border-box;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

// Inputs 

@mixin input {
  height: 44px;
  line-height: 44px;
  background: $white;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: $mainFont;
  font-size: $mainFontSize;
  padding-left: 15px;
  border: 1px solid $dark_shade_25;

  &:focus {
    &::placeholder {
      color: $dark_shade_75;
    }

    border: 1px solid $dark_shade_50;
  }
}

// Arrows 

@mixin drop-arrow {
  content: "\e313";
  right: 10px;
  position: absolute;
  font-family: 'Material Icons';
  font-size: 24px;
  line-height: 24px;
  color: $dark_shade_50;
}

@mixin up-arrow {
  content: "\e316";
  right: 10px;
  top: 30px;
  position: absolute;
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $dark_shade_50;
}

@mixin right-arrow {
  content: "\e5c8";
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}

// Forms

@mixin form {
  width: 380px;
  padding: 40px 30px 30px 30px;
  background: $white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .form-header {
    @include h1-cyrillic;
  }

}

@mixin booking-form-header {
  position: relative;

  .number {
    @include h1-cyrillic;
    margin-left: 6px;
    letter-spacing: 0.8px;

  }

  .numbersign {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: $dark_shade_100;
  }

  .priceline {
    position: absolute;
    top: 0;
    right: 0;

  }

  .price {
    font-family: 'Montserrat-bold', sans-serif;
    color: $dark_shade_50;
    font-size: 14px;


  }

  .priceper {
    font-family: 'Montserrat', sans-serif;
    color: $dark_shade_50;
    font-size: 12px;
    margin-left: 3px;
  }

  .purpletext {
    font-family: 'Montserrat-bold', sans-serif;
    color: $purple;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 5px;
  }
}



// px to rem

/*
@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

@mixin size($width,$height: $width) {
  width: $width;
  height: $height;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}
*/