@import "vars";

//Headers

@mixin h1{  
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $dark_shade_100;

  }

@mixin h2{
font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 24px;
color: $dark_shade_100;
}
@mixin h3{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
color: $dark_shade_100;
text-transform: uppercase;
}

//Button basic style

@mixin button_basic{
  height: 34px;
  border-radius: 22px;
}

  // px to rem

/*
@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

@mixin size($width,$height: $width) {
  width: $width;
  height: $height;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}
*/