//Colors

$dark_shade_100 : #1F2041;
$dark_shade_75 : rgba(31, 32, 65, 0.75);
$dark_shade_50 : rgba(31, 32, 65, 0.5);
$dark_shade_25 : rgba(31, 32, 65, 0.25);
$dark_shade_5 : rgba(31, 32, 65, 0.05);
$purple : #BC9CFF;
$green : #6FCF97;
$white : white;
$sea: #66D2EA;

//Gradients
$purpleGradient : linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$greenGradient :  linear-gradient(180deg, $green 0%, $sea 100%);

//Body font

$mainLineHeight : 24px;
$mainFontSize : 14px;
$mainFont : Montserrat;

//Buttons
$purpleButton : $purpleGradient;

