mixin radio-button(radioHead, radioValue, radioChecked)
    div(class='radio-button')
        label(class='fakeCheckbox') 
            input(type='radio', name='sex', value=radioValue, checked=radioChecked)
            span #{radioHead}