mixin radio-button(radioHead, radioValue, radioChecked)
    .radio-button
        label(class='fakeRadio') 
            input(type='radio', name='sex', value=radioValue, checked=radioChecked)
            span #{radioHead}