defs
  lineargradient#green(x1='5.02934' y1='0.294189' x2='5.02934' y2='6.20595' gradientUnits='userSpaceOnUse')
    stop(stop-color='#6FCF97')
    stop(offset='1' stop-color='#66D2EA')

defs
  lineargradient#purple(x1='6.29397' y1='0.294189' x2='6.29397' y2='12.0589' gradientUnits='userSpaceOnUse')
    stop(stop-color='#BC9CFF')
    stop(offset='1' stop-color='#8BA4F9')