extends ../../layout/main/main

block variables

  -var pageTitle= 'Search room'

block content
  include ../../modules/hotel-card/hotel-card
  include ../../modules/input-date-dropdown/input-date-dropdown
  include ../../modules/input-dropdown/input-dropdown
  include ../../modules/range-slider/range-slider
  include ../../modules/checkbox-expandable/checkbox-expandable
  include ../../modules/checkbox/checkbox
  include ../../modules/pagination/pagination

  .search-room-page
    .search-room-page__content
      aside.search-room-page__filter-column
        .dates-selection
          h3 даты пребывания в отеле
          +input-date-dropdown({placeholder: '19 авг - 23 авг', type: 'text'})
        .guests-selection
          h3 гости
          +input-dropdown({items: ['взрослые', 'дети', 'младенцы'], placeholder: 'Сколько гостей', single: true})
        .price-selection
          +range-slider('диапазон цены')
          p.text Стоимость за сутки пребывания в номере
        .room-options
          h3 Checkbox Buttons
          .room-options__group
            .room-options__button
              +checkbox({title: 'Можно курить', name: '1', value: '1'})
            .room-options__button
              +checkbox({title: 'Можно с питомцами', name: '2', value: '2', checked: 'checked'})
            .room-options__button
              +checkbox({title: 'Можно пригласить гостей (до 10 человек)', name: '3', value: '3', checked: 'checked'})
        .room-availability
          h3 доступность
          .room-availability__group
            .room-availability__button
              +checkbox({title: 'Широкий коридор', name: '1', value: '1', rich: true, description: 'Ширина коридоров в номере не менее 91 см.'})   
            .room-availability__button
              +checkbox({title: 'Помощник для инвалидов', name: '2', value: '2', rich: true, description: 'На 1 этаже вас встретит специалист и проводит до номера.'})   
        .room-facilities
          h3 удобства номера
          +input-dropdown({items: ['спальни', 'кровати', 'ванные комнаты'], multiple: true})  
        .room-additional-facilities
          +checkbox-expandable({title: 'дополнительные удобства', items: [{title: 'Завтрак'}, {title: 'Письменный стол'}, {title: 'Стул для кормления'}, {title: 'Кроватка'}, {title: 'Телевизор'}, {title: 'Шампунь'}, {title: 'Телевизор'}]})
      section.search-room-page__room-cards
        h1.search-room-page__title Номера, которые мы для вас подобрали
        .search-room-page__room-cards-grid
          +hotel-card ({images: ['image1.jpg', 'image1.jpg','image1.jpg', 'image1.jpg'], roomNumber: '888', roomPrice: '9 990', roomType: 'люкс', roomReviews: '145', sliderControls: true})            
          +hotel-card ({images: ['image2.jpg', 'image2.jpg','image2.jpg', 'image2.jpg'], roomNumber: '840', roomPrice: '9 990', roomReviews: '65'}) 
          +hotel-card ({images: ['image4.jpg', 'image4.jpg','image4.jpg', 'image4.jpg'], roomNumber: '980', roomPrice: '8 500', roomType: 'люкс', roomReviews: '35'}) 
          +hotel-card ({images: ['image5.jpg', 'image5.jpg','image5.jpg', 'image5.jpg'], roomNumber: '856', roomPrice: '7 300', roomReviews: '19'})   
          +hotel-card ({images: ['image6.jpg', 'image6.jpg','image6.jpg', 'image6.jpg'], roomNumber: '740', roomPrice: '6 000', roomReviews: '44'})
          +hotel-card ({images: ['image7.jpg', 'image6.jpg','image6.jpg', 'image6.jpg'], roomNumber: '982', roomPrice: '5 800', roomReviews: '56'})  
          +hotel-card ({images: ['image8.jpg', 'image6.jpg','image6.jpg', 'image6.jpg'], roomNumber: '678', roomPrice: '5 500', roomReviews: '45'})
          +hotel-card ({images: ['image9.jpg', 'image6.jpg','image6.jpg', 'image6.jpg'], roomNumber: '450', roomPrice: '5 300', roomReviews: '39'})  
          +hotel-card ({images: ['image10.jpg', 'image6.jpg','image6.jpg', 'image6.jpg'], roomNumber: '350', roomPrice: '5 000', roomReviews: '77'})
          +hotel-card ({images: ['image11.jpg', 'image6.jpg','image6.jpg', 'image6.jpg'], roomNumber: '666', roomPrice: '5 000', roomReviews: '25'})
          +hotel-card ({images: ['image12.jpg', 'image6.jpg','image6.jpg', 'image6.jpg'], roomNumber: '444', roomPrice: '5 000', roomReviews: '15'})       
          +hotel-card ({images: ['image13.jpg', 'image6.jpg','image6.jpg', 'image6.jpg'], roomNumber: '352', roomPrice: '5 000', roomReviews: '55'})
        .search-room-page__pagination
          +pagination({text:'1 – 12 из 100+ вариантов аренды', items: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15']})