extends ../../layout/main

block variables

  -var pageTitle= 'Search room'

block content
  include ../../modules/hotel-card/hotel-card
  include ../../modules/forms/__input/form__input
  include ../../modules/range-slider/range-slider
  include ../../modules/checkbox-group/checkbox-group
  include ../../modules/checkbox/checkbox
  include ../../modules/pagination/pagination

  .search-room-content
    aside.filter-column
      .filter-column-elem
        +formInput('text', 'даты пребывания в отеле', '19 авг - 23 авг', 'middle-calendar', 'wrap-middle')
      .filter-column-elem.guests
        +formInput('', 'гости', '', 'default-input', 'wrap-middle', '', 'dropdown', '3', ['взрослые', 'дети', 'младенцы'])
      .filter-column-elem
        +range-slider('диапазон цены')
        p Стоимость за сутки пребывания в номере
      .filter-column-elem
        +checkbox-group('3', 'Checkbox Buttons', ['mycheckbox', 'mycheckbox2', 'mycheckbox2'], ['check1', 'check2', 'check3'], ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)'], ['none', 'checked', 'checked'])
      .filter-column-elem
        +checkbox-group('2', 'доступность', '', '', ['Широкий коридор', 'Помощник для инвалидов'], '', 'rich', ['Ширина коридоров в номере не менее 91 см.', 'На 1 этаже вас встретит специалист и проводит до номера.'])
      .filter-column-elem.bedroom
        +formInput('', 'удобства номера', '', 'middle-input', 'wrap-middle', '', 'dropdown', '3', ['спальни', 'кровати', 'ванные комнаты']) 
      .filter-column-elem
        +checkbox-group('7', 'дополнительные удобства', '', '', ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор'], '', 'expandable')
    .room-cards-column
      h1 Номера, которые мы для вас подобрали
      .room-cards-grid
        +hotel-card ({images: ['image1.jpg', 'image1.jpg','image1.jpg', 'image1.jpg'], roomNumber: '888', roomPrice: '9 990', roomType: 'люкс', roomReviews: '145', sliderControls: true})            
        +hotel-card ({images: ['image2.jpg', 'image2.jpg','image2.jpg', 'image2.jpg'], roomNumber: '840', roomPrice: '9 990', roomReviews: '65'}) 
        +hotel-card ({images: ['image4.jpg', 'image4.jpg','image4.jpg', 'image4.jpg'], roomNumber: '980', roomPrice: '8 500', roomType: 'люкс', roomReviews: '35'}) 
        +hotel-card ({images: ['image5.jpg', 'image5.jpg','image5.jpg', 'image5.jpg'], roomNumber: '856', roomPrice: '7 300', roomReviews: '19'})   
        +hotel-card ({images: ['image6.jpg', 'image6.jpg','image6.jpg', 'image6.jpg'], roomNumber: '740', roomPrice: '6 000', roomReviews: '44'})
        +hotel-card ({images: ['image7.jpg', 'image6.jpg','image6.jpg', 'image6.jpg'], roomNumber: '982', roomPrice: '5 800', roomReviews: '56'})  
        +hotel-card ({images: ['image8.jpg', 'image6.jpg','image6.jpg', 'image6.jpg'], roomNumber: '678', roomPrice: '5 500', roomReviews: '45'})
        +hotel-card ({images: ['image9.jpg', 'image6.jpg','image6.jpg', 'image6.jpg'], roomNumber: '450', roomPrice: '5 300', roomReviews: '39'})  
        +hotel-card ({images: ['image10.jpg', 'image6.jpg','image6.jpg', 'image6.jpg'], roomNumber: '350', roomPrice: '5 000', roomReviews: '77'})
        +hotel-card ({images: ['image11.jpg', 'image6.jpg','image6.jpg', 'image6.jpg'], roomNumber: '666', roomPrice: '5 000', roomReviews: '25'})
        +hotel-card ({images: ['image12.jpg', 'image6.jpg','image6.jpg', 'image6.jpg'], roomNumber: '444', roomPrice: '5 000', roomReviews: '15'})       
        +hotel-card ({images: ['image13.jpg', 'image6.jpg','image6.jpg', 'image6.jpg'], roomNumber: '352', roomPrice: '5 000', roomReviews: '55'})
      .room-search-pagination
        +pagination