@import '../../../assets/scss/utils/mixins.scss';

.bullet-list {
  padding: 0;
  list-style: none;


  &__item {
    padding-left: 19px;
    position: relative;
    margin-top: 13px;
  }

  &__item:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: $dark_shade_25;

  }
}