block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title= pageTitle 
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='font-awesome.min.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')


  body
  include ../modules/header/header
  include ../modules/footer/footer
  include ../modules/footer-mobile/footer-mobile

  +header({links: [{href : '/mock-address/change-me', name : 'О нас'}, {href :'/mock-address/change-me', name :'Услуги', dropdown : true}, {href :'/mock-address/change-me', name :'Вакансии'}, {href :'/mock-address/change-me', name : 'Новости'}, {href :'/mock-address/change-me', name : 'Соглашения', dropdown : true}], buttonLogin:'войти', buttonRegister: 'зарегистрироваться'})

  block content

  footer
    +footer({
      mainText: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
      menu: {
        column1: {title: 'навигация', links: [{href:'/mock-address/change-me', val:'О нас'}, {href:'/mock-address/change-me', val:'Новости'}, {href:'/mock-address/change-me', val:'Служба поддержки'}, {href:'/mock-address/change-me', val:'Услуги'}]},
        column2: {title: 'о нас', links: [{href:'/mock-address/change-me', val:'О сервисе'}, {href:'/mock-address/change-me', val:'Наша команда'}, {href:'/mock-address/change-me', val:'Вакансии'}, {href:'/mock-address/change-me', val:'Инвесторы'}]},
        column3: {title: 'Служба поддержки',links: [{href:'/mock-address/change-me', val:'Соглашения'}, {href:'/mock-address/change-me', val:'Сообщества'}, {href:'/mock-address/change-me', val:'Связь с нами'}]}
          },
      subscription: {
        title: 'Подписка',
        text: 'Получайте специальные предложения и новости сервиса',
        placeholder: 'Email'
      },
      copyright: 'Copyright © 2018 Toxin отель. Все права защищены.'
        })
    +footer-mobile()