block variables

doctype html
html(lang='ru')
    head
        title= pageTitle 
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap', rel='stylesheet')
        link(rel='stylesheet', href='font-awesome.min.css')


    body
    include ../modules/nav/nav
    include ../modules/header/header
    block content

    footer
    