block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title= pageTitle 
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='font-awesome.min.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')


  body
  include ../modules/nav/nav
  include ../modules/footer/footer-rus/footer-rus
  include ../modules/footer/footer-mobile/footer-mobile

  header
    +navbar([{state : 'logged_out'}], [{href : '/mock-address/change-me', val : 'О нас'}, {href :'/mock-address/change-me', val :'Услуги', mod : 'dropdown'}, {href :'/mock-address/change-me', val :'Вакансии'}, {href :'/mock-address/change-me', val : 'Новости'}, {href :'/mock-address/change-me', val : 'Соглашения', mod : 'dropdown'}], [{style:'ghost-button', name:'войти'}, {style:'big-button', name:'зарегистрироваться'}])

  block content

  footer
    +footer-rus()
    +footer-mobile()