block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title= pageTitle 
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='font-awesome.min.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')


  body
  include ../modules/header/header
  include ../modules/footer/footer-rus/footer-rus
  include ../modules/footer/footer-mobile/footer-mobile

  +header({links: [{href : '/mock-address/change-me', name : 'О нас'}, {href :'/mock-address/change-me', name :'Услуги', dropdown : true}, {href :'/mock-address/change-me', name :'Вакансии'}, {href :'/mock-address/change-me', name : 'Новости'}, {href :'/mock-address/change-me', name : 'Соглашения', dropdown : true}], buttonLogin:'войти', buttonRegister: 'зарегистрироваться'})

  block content

  footer
    +footer-rus()
    +footer-mobile()