block variables

doctype html
html(lang='ru')
    head
        title= pageTitle 
        link(rel='stylesheet', href='dist/main.css')
    body
    include ../modules/nav/nav
    include ../modules/header/header
    block content

   
    