$datepickerDayCellSize: 40px !default;
$datepickerDayCellSizeMobile: 35px;
$datepickerWidth: 320px !default;
$datepickerMinBodyHeight: 369px !default;
$datepickerBorderRadius: 4px !default;
$datepickerPadding: 20px 17px 14px 19px !default;
$datepickerZIndex: 100 !default;

$datepickerFontFamily: 'Montserrat',
sans-serif !default;
$datepickerFontSize: 12px !default;

$datepickerYearsPerRow: 4 !default;

$datepickerTextColor: (button: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%),
  otherMonth: #dedede,
  otherMonthInRange: rgb(189, 187, 187),
  disabled:rgba(31, 32, 65, 0.25),
  currentDate: white,
  common: rgba(31, 32, 65, 0.5),
  dayNames: #BC9CFF,
  navArrows: #BC9CFF) !default;

$datepickerBG: (selected: $purpleGradient,
  selectedHover: $purpleGradient,
  inRange: linear-gradient(180deg, #eee6fe 0%, #e3e8fd 100%),
  hover: $purpleGradient,
  currentDate: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%),

) !default;

$datepickerBorderColor: (nav: #efefef,
  inline: #d7d7d7,
  default: #dbdbdb) !default;

$datepickerNavigationHeight: 32px !default;
$datepickerNavigationButtonsOffset: 2px !default;

$datepickerPointerSize: 10px !default;
$datepickerPointerOffset: 10px !default;

// Transitions
$datepickerTransitionSpeed: .3s !default;
$datepickerTransitionEase: ease !default;
$datepickerTransitionOffset: 8px !default;

// Objects
%otherMonth {
  color: map_get($datepickerTextColor, otherMonth);

  &:hover {
    color: darken(map_get($datepickerTextColor, otherMonth), 10);
  }

  &.-disabled- {
    &.-focus- {
      color: map_get($datepickerTextColor, otherMonth);
    }
  }

  &.-selected- {
    color: #fff;
    background: map_get($datepickerBG, selected);
    font-family: 'Montserrat-bold', sans-serif;

    &.-focus- {
      background: map_get($datepickerBG, selected);
    }
  }

  &.-in-range- {
    background-color: map_get($datepickerBG, inRange);

    &.-focus- {
      background: map_get($datepickerBG, inRange);
    }
  }


  &:empty {
    background: none;
    border: none;
  }
}

.datepicker-here {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */

.datepicker--cells {
  display: flex;
  flex-wrap: wrap;
}

.datepicker--cell {
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: $datepickerDayCellSize;
  z-index: 1;

  &.-focus- {
    background: map_get($datepickerBG, hover);
    color: map_get($datepickerTextColor, currentDate);
  }

  &.-current- {
    color: map_get($datepickerTextColor, currentDate);
    background: map_get($datepickerBG, currentDate);
    font-family: 'Montserrat-bold', sans-serif;

    &.-focus- {
      color: map_get($datepickerTextColor, common);
    }

    &.-in-range- {
      color: map_get($datepickerTextColor, currentDate);
      font-family: 'Montserrat-bold', sans-serif;
    }

    @media(max-width: 340px){
      height: $datepickerDayCellSizeMobile;
      width: $datepickerDayCellSizeMobile;
    }
  }

  &.-in-range- {
    background: map_get($datepickerBG, inRange);
    color: darken(map_get($datepickerTextColor, common), 5);
    border-radius: 0;

    &.-focus- {
      background: map_get($datepickerBG, inRange);
    }
  }

  &.-disabled- {
    cursor: default;
    color: map_get($datepickerTextColor, disabled);

    &.-focus- {
      color: map_get($datepickerTextColor, disabled);
    }

    &.-in-range- {
      color: darken(map_get($datepickerTextColor, disabled), 5);
    }

    &.-current- {
      &.-focus- {
        color: map_get($datepickerTextColor, disabled);
      }
    }
  }

  &.-range-from- {
    border: 1px solid map_get($datepickerBG, selected);
    background-color: map_get($datepickerBG, inRange);
    font-family: 'Montserrat-bold', sans-serif;
    border-radius: 50%;
    position: relative;


    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $purpleGradient;
      opacity: 0.25;
      border-radius: 50% 0 0 50%;
      z-index: -10;
    }
  }

  &.-range-to- {
    //border: 1px solid rgba(map_get($datepickerBG, selected), .5);
    border: 1px solid map_get($datepickerBG, selected);
    background-color: map_get($datepickerBG, inRange);
    font-family: 'Montserrat-bold', sans-serif;
    border-radius: 50%;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $purpleGradient;
      opacity: 0.25;
      border-radius: 0 50% 50% 0;
      z-index: -10;
    }
  }

  &.-range-from-.-range-to- {
    border-radius: 50%;
    background: map_get($datepickerBG, selected);
    position: relative;
    z-index: 1000;
  }

  &.-selected- {
    color: #fff;
    font-family: 'Montserrat-bold', sans-serif;
    border: none;
    background: map_get($datepickerBG, selected);
    position: relative;
    z-index: 1000;

    &.-current- {
      color: #fff;
      background: map_get($datepickerBG, selected);
      font-family: 'Montserrat-bold', sans-serif;
    }

    &.-focus- {
      background: map_get($datepickerBG, selectedHover);
    }
  }

  &:empty {
    cursor: default;
  }
}

//  Day names
// -------------------------------------------------

.datepicker--days-names {
  display: flex;
  flex-wrap: wrap;
  margin: 0 3px;
}


.datepicker--day-name {
  font-family: 'Monserrat-bold', sans-serif;
  font-weight: bold;
  color: map_get($datepickerTextColor, dayNames);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  font-size: 12px;
}

//  Day cell
// -------------------------------------------------

.datepicker--cell-day {
  width: (100/7)#{'%'};

  &.-other-month- {
    @extend %otherMonth;
  }
}

.datepicker--cells-days {
  margin-top: 7px;
}


//  Months
// -------------------------------------------------

.datepicker--months {}

.datepicker--cells-months {
  height: $datepickerMinBodyHeight;
}

//  Month cell
// -------------------------

.datepicker--cell-month {
  width: 33.33%;
  height: 25%;
}

//  Years
// -------------------------------------------------

.datepicker--years {
  height: $datepickerMinBodyHeight;
}

.datepicker--cells-years {
  height: $datepickerMinBodyHeight;
}

//  Year cell
// -------------------------

.datepicker--cell-year {
  width: 100% / $datepickerYearsPerRow;
  height: 33.33%;

  &.-other-decade- {
    @extend %otherMonth;
  }
}

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */

.datepickers-container {
  position: absolute;
  left: 0;
  top: 0;

  @media print {
    display: none;
  }
  @media(max-width:360px){
    width:90%;
  }
}

.datepicker {
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  width: 320px;
  background: #fff;
  box-sizing: content-box;
  font-family: $datepickerFontFamily, sans-serif;
  font-size: $datepickerFontSize;
  color: map_get($datepickerTextColor, common);
  width: $datepickerWidth;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity $datepickerTransitionSpeed $datepickerTransitionEase, transform $datepickerTransitionSpeed $datepickerTransitionEase, left 0s $datepickerTransitionSpeed;
  z-index: $datepickerZIndex;
  @media(max-width: 400px){
    transform: translateX(-5%) !important;
  }
  @media(max-width: 360px){
    width: 100%;
  }

  &.-from-top- {
    transform: translateY(-$datepickerTransitionOffset);
  }

  &.-from-right- {
    transform: translateX($datepickerTransitionOffset);
  }

  &.-from-bottom- {
    transform: translateY($datepickerTransitionOffset);
  }

  &.-from-left- {
    transform: translateX(-$datepickerTransitionOffset);
  }


  &.active {
    opacity: 1;
    transform: translate(0);
    transition: opacity $datepickerTransitionSpeed $datepickerTransitionEase, transform $datepickerTransitionSpeed $datepickerTransitionEase, left 0s 0s;
  }
}

.datepicker-inline {
  .datepicker {
    box-shadow: none;
    position: static;
    left: auto;
    right: auto;
    opacity: 1;
    transform: none;
  }

  .datepicker--pointer {
    display: none;
  }
}

.datepicker--content {
  box-sizing: content-box;
  padding: $datepickerPadding;

  .-only-timepicker- & {
    display: none;
  }
}

//  Pointer
// -------------------------------------------------
$pointerHalfSize: $datepickerPointerSize / 2 - 1;

.datepicker--pointer {
  position: absolute;
  background: #fff;
  border-top: 1px solid map-get($datepickerBorderColor, default);
  border-right: 1px solid map-get($datepickerBorderColor, default);
  width: $datepickerPointerSize;
  height: $datepickerPointerSize;
  z-index: -1;

  //  Main axis
  // -------------------------

  .-top-left- &,
  .-top-center- &,
  .-top-right- & {
    top: calc(100% - #{$pointerHalfSize});
    transform: rotate(135deg);
  }

  .-right-top- &,
  .-right-center- &,
  .-right-bottom- & {
    right: calc(100% - #{$pointerHalfSize});
    transform: rotate(225deg);
  }

  .-bottom-left- &,
  .-bottom-center- &,
  .-bottom-right- & {
    bottom: calc(100% - #{$pointerHalfSize});
    transform: rotate(315deg);
  }

  .-left-top- &,
  .-left-center- &,
  .-left-bottom- & {
    left: calc(100% - #{$pointerHalfSize});
    transform: rotate(45deg);
  }

  //  Secondary axis
  // -------------------------

  .-top-left- &,
  .-bottom-left- & {
    left: $datepickerPointerOffset;
  }

  .-top-right- &,
  .-bottom-right- & {
    right: $datepickerPointerOffset;
  }

  .-top-center- &,
  .-bottom-center- & {
    left: calc(50% - #{$datepickerPointerSize} / 2);
  }

  .-left-top- &,
  .-right-top- & {
    top: $datepickerPointerOffset;
  }

  .-left-bottom- &,
  .-right-bottom- & {
    bottom: $datepickerPointerOffset;
  }

  .-left-center- &,
  .-right-center- & {
    top: calc(50% - #{$datepickerPointerSize} / 2);
  }

}

//  Body
// -------------------------------------------------

.datepicker--body {
  display: none;

  &.active {
    display: block;
  }
}

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */

.datepicker--nav {
  display: flex;
  justify-content: space-between;
  min-height: $datepickerNavigationHeight;
  padding: 15px 14px 15px 14px;

  .-only-timepicker- & {
    display: none;
  }
}

.datepicker--nav-title,
.datepicker--nav-action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

[data-action="next"] {
  &:before {
    @include right-arrow;
    color: map_get($datepickerTextColor, navArrows);
  }
}

[data-action="prev"] {
  &:before {
    @include left-arrow;
    color: map_get($datepickerTextColor, navArrows);
  }
}

.datepicker--nav-action {
  width: $datepickerDayCellSize;
  border-radius: $datepickerBorderRadius;
  user-select: none;


  &:hover {
    opacity: 0.5;
  }

  &.-disabled- {
    visibility: hidden;
  }

  svg {
    display: none;
  }
}

.datepicker--nav-title {
  border-radius: $datepickerBorderRadius;
  padding: 0 8px;
  @include h1;
  font-size: 19px;
  letter-spacing: normal;

  i {
    font-style: normal;
    margin-left: 5px;
  }

  &:hover {
    opacity: 0.5;

  }

  &.-disabled- {
    cursor: default;
    background: none;
  }
}

//  Buttons
// -------------------------------------------------

.datepicker--buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.datepicker--button {
  cursor: pointer;
  flex: 1;
  height: 41px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-stretch: extra-expanded;
  box-sizing: border-box;
  background: transparent;

  &:hover {
    opacity: 0.5;
  }
}

[data-action='clear'] {
  color: $dark_shade_50;
  font-weight: bold;
}



/* -------------------------------------------------
    Timepicker
   ------------------------------------------------- */

$rangeTrackHeight: 1px;
$rangeTrackBg: #dedede;
$rangeThumbSize: 12px;
$rangeThumbBg: #dedede;

@mixin trackSelector {
  &::-webkit-slider-runnable-track {
    @content;
  }

  &::-moz-range-track {
    @content;
  }

  &::-ms-track {
    @content;
  }
}

@mixin thumbSelector {
  &::-webkit-slider-thumb {
    @content;
  }

  &::-moz-range-thumb {
    @content;
  }

  &::-ms-thumb {
    @content;
  }
}

@mixin thumb {
  box-sizing: border-box;
  height: $rangeThumbSize;
  width: $rangeThumbSize;
  border-radius: 3px;
  border: 1px solid $rangeTrackBg;
  background: #fff;
  cursor: pointer;

  transition: background .2s;
}

@mixin track {
  border: none;
  height: $rangeTrackHeight;
  cursor: pointer;
  color: transparent;
  background: transparent;
}

.datepicker--time {
  border-top: 1px solid map_get($datepickerBorderColor, nav);
  display: flex;
  align-items: center;

  padding: $datepickerPadding;
  position: relative;

  &.-am-pm- {
    .datepicker--time-sliders {
      flex: 0 1 138px;
      max-width: 138px;
    }
  }

  .-only-timepicker- & {
    border-top: none;
  }
}

.datepicker--time-sliders {
  flex: 0 1 153px;
  margin-right: 10px;
  max-width: 153px;
}

.datepicker--time-label {
  display: none;
  font-size: 12px;
}

.datepicker--time-current {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 14px;
  text-align: center;
  margin: 0 0 0 10px;
}

.datepicker--time-current-colon {
  margin: 0 2px 3px;
  line-height: 1;
}

.datepicker--time-current-hours,
.datepicker--time-current-minutes {
  line-height: 1;
  font-size: 19px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  z-index: 1;

  &:after {
    content: '';
    background: map_get($datepickerBG, hover);
    border-radius: $datepickerBorderRadius;
    position: absolute;
    left: -2px;
    top: -3px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    opacity: 0;
  }

  &.-focus- {
    &:after {
      opacity: 1;
    }
  }
}

.datepicker--time-current-ampm {
  text-transform: uppercase;
  align-self: flex-end;
  color: map_get($datepickerTextColor, navArrows);
  margin-left: 6px;
  font-size: 11px;
  margin-bottom: 1px;
}

.datepicker--time-row {
  display: flex;
  align-items: center;
  font-size: 11px;
  height: 17px;
  background: linear-gradient(to right, $rangeTrackBg, $rangeTrackBg) left 50%/100% $rangeTrackHeight no-repeat;

  &:first-child {
    margin-bottom: 4px;
  }

  input[type='range'] {
    background: none;
    cursor: pointer;
    flex: 1;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    &::-ms-tooltip {
      display: none;
    }

    &:hover {
      @include thumbSelector() {
        border-color: darken($rangeTrackBg, 15);
      }
    }

    &:focus {
      outline: none;

      @include thumbSelector() {
        background: map_get($datepickerBG, selected);
        border-color: map_get($datepickerBG, selected);
      }
    }

    //  Thumb
    // -------------------------------------------------

    @include thumbSelector() {
      @include thumb;
    }

    &::-webkit-slider-thumb {
      margin-top: -$rangeThumbSize/2;
    }

    //  Track
    // -------------------------------------------------
    @include trackSelector() {
      @include track;
    }

    &::-ms-fill-lower {
      background: transparent;
    }

    &:focus::-ms-fill-lower {}

    &::-ms-fill-upper {
      background: transparent;
    }

    &:focus::-ms-fill-upper {}
  }

  span {
    padding: 0 12px;
  }
}

.datepicker--time-icon {
  color: map_get($datepickerTextColor, navArrows);
  border: 1px solid;
  border-radius: 50%;
  font-size: 16px;
  position: relative;
  margin: 0 5px -1px 0;
  width: 1em;
  height: 1em;

  &:after,
  &:before {
    content: '';
    background: currentColor;
    position: absolute;
  }

  &:after {
    height: .4em;
    width: 1px;
    left: calc(50% - 1px);
    top: calc(50% + 1px);
    transform: translateY(-100%);
  }

  &:before {
    width: .4em;
    height: 1px;
    top: calc(50% + 1px);
    left: calc(50% - 1px);
  }
}