include ./__elem/checkbox

mixin checkbox-group(checkboxNumber, groupHead, checkName, checkValue, checkHead, checkChecked, checkboxType, checkboxDescr)
  .wrap-checkbox-group(class=checkboxType)
    .material-icons(class='down-arrow')
    h3 #{groupHead}
      .checkbox-elements
        if checkboxDescr
          - for (i= 0; i< checkboxNumber; i++ ){
            +checkbox-button(checkName[i], checkValue[i], checkHead[i], checkChecked[i], checkboxType[i], checkboxDescr[i])
          -}
        else
          - for (i= 0; i< checkboxNumber; i++ ){
            +checkbox-button(checkName[i], checkValue[i], checkHead[i], checkChecked[i], checkboxType)
          -}