include ../checkbox/checkbox

mixin checkbox-expandable({title, items, open})
  - let classes = ''
  if open
    - classes = "checkbox-expandable__title_open"
  .checkbox-expandable
    .checkbox-expandable__title.js-checkbox-expandable__title(class=classes) #{title}
    .checkbox-expandable__items
      each item, index in items
        - const { title, checked } = item
        .checkbox-expandable__item
          +checkbox({title, name: index, value: index, checked})

