include ../checkbox/checkbox

mixin checkbox-expandable({title, items, open})
  - let classes = 'checkbox-expandable_closed'
  if open
    - classes = 'checkbox-expandable_open'
  .checkbox-expandable
    .checkbox-expandable__title.js-checkbox-expandable__title(class=classes) #{title}
    .checkbox-expandable__items
      each item, index in items
        .item
          +checkbox({title: item.title, name: index, value: index, checked: item.checked})

