mixin toggle({title, value, name, checked})
  .toggle
    label.toggle__label
      input(class="toggle__input" type="checkbox" name=name value=value checked=checked)
      span.toggle__slider-body
    span.toggle__title #{title}