mixin toggle(toggleHeader, toggleName, toggleValue, toggleChecked)
  .toggle-button
    label.switch
      input(type='checkbox', name=toggleName, value=toggleValue, checked=toggleChecked)
      span.slider.round
    span.toggleName #{toggleHeader}