extends ../../layout/uikit/uikit-layout.pug

block variables

  -var pageTitle= 'Headers&Footers'

block content
  include ../../modules/header/header
  include ../../modules/footer/footer
  include ../../modules/footer/footer-mobile/footer-mobile

  .content-headers-footers
    .wrap-hf-grid
      +header({links: [{href : '/mock-address/change-me', name : 'Home'}, {href :'/mock-address/change-me', name :'About Us'}, {href :'/mock-address/change-me', name :'Services', dropdown : true}, {href :'/mock-address/change-me', name :'Careers'}, {href :'/mock-address/change-me', name : 'News'}, {href :'/mock-address/change-me', name : 'Documentation', dropdown : true}], buttonLogin:'login', buttonRegister: 'register'})
      +header({links: [{href : '/mock-address/change-me', name : 'Home'}, {href :'/mock-address/change-me', name :'About Us'}, {href :'/mock-address/change-me', name :'Services', dropdown : true}, {href :'/mock-address/change-me', name :'Careers'}, {href :'/mock-address/change-me', name : 'News'}, {href :'/mock-address/change-me', name : 'Documentation', dropdown : true}], user: 'Cosmin Negoita', loggedIn: true})
      +footer()
      +footer-mobile()
