include ../__column/footer__column
include ../../icons/logo/logo
include ../../forms/__input/form__input

mixin footer-rus()
  .wrap-footer
    .footer_logo-column
      +logo('url(#purple)', 'url(#green)', '42', '42')
      p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    +footerColumn('навигация', [{href:'#', val:'О нас'}, {href:'#', val:'Новости'}, {href:'#', val:'Служба поддержки'}, {href:'#', val:'Услуги'}])
    +footerColumn('о нас', [{href:'#', val:'О сервисе'}, {href:'#', val:'Наша команда'}, {href:'#', val:'Вакансии'}, {href:'#', val:'Инвесторы'}])
    +footerColumn('Служба поддержки', [{href:'#', val:'Соглашения'}, {href:'#', val:'Сообщества'}, {href:'#', val:'Связь с нами'}])
    .footer_subscription-column
      h3 Подписка
      p Получайте специальные предложения и новости сервиса
      +formInput('text', 'subscription', 'Email', 'subscription', 'subscription-wrap')
  .wrap-footer-copyright
    p Copyright © 2018 Toxin отель. Все права защищены.
    .socials
      .social-twitter
      .social-fb
      .social-insta
