mixin color-box({colorClass, colorName, colorCode})
  - let classes = ['color-box']
  - classes.push(colorClass)
  .wrap-color
    div(class=classes)
    .color-text
      .color-head #{colorName}
      .color-descr #{colorCode}