.color-box {

  &__color {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    display: inline-block;

    &_with-dark-shade-100-color {
      background: $dark_shade_100;
    }

    &_with-dark-shade-75-color {
      background: $dark_shade_75;
    }

    &_with-dark-shade-50-color {
      background: $dark_shade_50;
    }

    &_with-dark-shade-25-color {
      background: $dark_shade_25;
    }

    &_with-dark-shade-25-color {
      background: $dark_shade_25;
    }

    &_with-dark-shade-5-color {
      background: $dark_shade_5;
    }

    &_with-purple-color {
      background: $purple;
    }

    &_with-green-color {
      background: $green;
    }
  }

  &__text {
    margin-left: 40px;
    vertical-align: top;
    margin-top: 9px;
    display: inline-block;
  }

  &__name {
    @include h2;
    font-weight: 550;
    letter-spacing: -0.4px;
  }

  &__description {
    @include h2;
    font-weight: normal;
    margin-top: 5px;
    letter-spacing: -0.05em;
  }
}