include ../calendar-inputs/calendar-inputs
include ../iqdropdown/iqdropdown
include ../form-footer/form-footer

mixin form-login({header, datesInputs, guestsInput, footer})
  .form-login
    form.form-login__form
      h1.form-login__header= header
      .form-login__calendar-inputs
        +calendar-inputs(datesInputs)
      .form-login__input-dropdown
        h3.form-login__input-dropdown-header= guestsInput.header
        +iqdropdown({items: guestsInput.items, placeholder: guestsInput.placeholder, single: guestsInput.single})
      .form-login__footer
        +form-footer(footer)
