@import '../../../assets/scss/utils/mixins.scss';

.login {
  @include form;

  &__header {
    letter-spacing: 1px;
  }

  &__calendar-inputs {
    margin-top: 20px;
  }

  &__input-dropdown {
    margin-top: 20px;

    .input-header {
      @include h3;
    }

    .input {
      margin-top: 5px;
    }
  }

  &__footer {
    margin-top: 31px;
  }
}