.form-login {
  @include form;

  &__header {
    letter-spacing: 1px;
  }

  &__calendar-inputs {
    margin-top: 19px;
  }

  &__input-dropdown {
    margin-top: 20px;
  }

  &__input-dropdown-header {
    @include h3;
    margin-bottom: 5px;
  }

  &__footer {
    margin-top: 31px;
  }
}