mixin social-icons()
  .social-icons
    a.social-icons__icon.social-icons__icon_twitter(href="http://twitter.com" target="_blank" rel="noopener noreferrer")
    a.social-icons__icon.social-icons__icon_facebook(href="http://facebook.com" target="_blank" rel="noopener noreferrer")
    a.social-icons__icon.social-icons__icon_instagram(href="http://instagram.com" target="_blank" rel="noopener noreferrer")