mixin social-icons()
  .social-icons
    a.social-icons__icon.twitter(href="http://twitter.com" target="_blank" rel="noopener noreferrer")
    a.social-icons__icon.fb(href="http://facebook.com" target="_blank" rel="noopener noreferrer")
    a.social-icons__icon.insta(href="http://instagram.com" target="_blank" rel="noopener noreferrer")