mixin nav-link({href, name, dropdown, active, mobile})
  - const mods = [""]
  if dropdown
    - mods.push("_dropdown")
  if active
    - mods.push("_active")
  if mobile
    - mods.push("_mobile")
  a(class=mods.map((mod) => "nav-link" + mod) href=href)= name