mixin page-index({headings, pages, uikit})
  .page-index
    .page-index__header
      h1= headings.main
    ul.page-index__menu
      each page in pages
        li.page-index__item
          a(href= page.link)= page.name
      h2= headings.uikit
      each page in uikit
        li.page-index__item
          a(href= page.link)= page.name