.toggle-button{
    display: inline-block;
    height:20px;
    line-height: 20px;    
span{
margin-left: 14px;

 } 
.oval{
    width: 40px;
    height: 20px;
    background: $white;
    border: 1px solid $dark_shade_25;
    box-sizing: border-box;
    border-radius: 10px;
    float: left;
}
}


.toggle-focused .circle{
    border: 1px solid $purpleGradient;
}

.toggle-focused .inner-circle{
    width: 12px;
    height: 12px;
    background: $purpleGradient;
    border-radius: 10px;
    margin:3px auto;

}

