mixin pagination
    .pagination
        each item in ['1', '2', '3', '...', '15']
            if item== '1'
                span.pagination-button(class='active') #{item}
            else
                span.pagination-button #{item}
        span.pagination-button.material-icons 
    .pag-caption 1 – 12 из 100+ вариантов аренды
            


