@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';


.input {
  @include input;
  width: 100%;
  position: relative;

  &::placeholder {
    color: $dark_shade_25;
  }

  &_focused {
    &::placeholder {
      color: $dark_shade_75;
    }

    border: 1px solid $dark_shade_50;
  }

}