.page-room-details {
  flex: 1 0 auto;

  &__gallery {
    display: grid;
    grid-template-columns: 2.125fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;

    @media (max-width: 660px) {
      display: none;
    }
  }

  &__gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__main-image {
    height: 485px;
    grid-row: span 2;
  }

  &__small-image {
    height: 242.5px;
  }

  &__content {
    padding: 70px 9.9% 90px 9.7%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 1%;
    border-bottom: 1px solid $dark_shade_10;

    @media (min-width: 1800px) {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    @media (max-width: 1100px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 500px) {
      padding-left: 1%;
      padding-right: 1%;
    }

    h2 {
      @include h2;
      letter-spacing: 0.6px;
    }
  }

  &__icons-charts {
    grid-column: span 2;
    display: flex;

    @media (max-width: 1100px) {
      width: 100%;
      justify-content: space-between;
    }

    @media (max-width: 690px) {
      display: block;
      width: auto;
    }
  }

  &__icon {
    margin-top: 20px;
    width: 280px;
  }

  &__room-chart {
    margin-left: 9.4%;

    @media (max-width: 690px) {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  &__room-chart-title {
    margin-left: 2.5%;
    min-width: 300px;
  }

  &__chart {
    margin-top: 10px;
    width: 139px;
    height: 139px;
    display: flex;

    @media (max-width: 400px) {
      flex-direction: column;
      align-content: center;
      margin-left: 50%;
      transform: translateX(-70%);
    }

    @media  (min-width: 691px) and (max-width: 750px) {
      display: flex;
      flex-direction: column;
    }

    @media  (min-width: 1105px) and (max-width: 1250px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__booking-form {
    grid-row: span 3;
    width: 381px;

    @media (max-width: 1100px) {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    @media (max-width: 400px) {
      width: 98%;
      margin-top: 200px;
    }
  }

  &__room-reviews {
    grid-column: span 2;
    margin-top: 5px;
    max-width: 711px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__review-number {
    min-width: 62px;
  }

  &__review {
    margin-top: 19px;

    &:last-child {
      margin-top: 23px;
    }
  }

  &__text-block {
    grid-column: span 2;
    margin-top: 25px;
    display: flex;

    @media (max-width: 650px) {
      display: block;
    }
  }

  &__bullet-list {
    max-width: 260px;
    min-width: 250px;
  }

  &__bullet-list-header {
    margin-left: 20px;
  }

  &__bullet-list-group {
    margin-top: 16px;
  }

  &__short-text {
    max-width: 340px;
    min-width: 300px;
    margin-left: 13%;

    @media (max-width: 650px) {
      margin-left: 0;
      margin-top: 18px;
    }
  }

  &__text {
    margin-top: 18px;
  }
}