mixin range-slider(title)
  .range-slider.js-range-slider
    .range-slider__header
      h3.range-slider__title= title
      input.range-slider__selected-amount(type="text", readonly)
    .range-slider__body.js-range-slider__body


