.range-slider {
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__selected-amount {
    font-size: 12px;
    text-transform: uppercase;
    color: $dark_shade_50;
    font-family: $mainFont;
    text-align: right;
  }

  &__title {
    min-width: 95px;
  }

  &__body {
    width: 266px;
    height: 6px;
    border: 1px solid $dark_shade_25;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 21px;

    .ui-slider-handle {
      display: block;
      border-radius: 50%;
      top: 0px; 
      transform:translate(0% -40%);
    }

    .ui-state-default {
      border: 2px solid #FFFFFF !important;
      height: 15px !important;
      width: 15px !important;
      background: $greenGradient !important;
      box-sizing: border-box !important;
      cursor: pointer !important;
    }

    .ui-slider-range {
      background: $greenGradient;
    }
  }
}