.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.footer-wrapper {
  flex: 0 0 auto;
  &__footer-desktop{
    @media (max-width: 1150px) {
      display: none;
    }
  }
  &__footer-mobile{
    @media (min-width: 1151px) {
      display: none;
    }
  }
}