include ../../modules/header/header
include ../../modules/footer/footer
include ../../modules/footer-mobile/footer-mobile
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title= pageTitle 
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="./assets/favicons/apple-touch-icon.png" sizes="180x180")
    link(rel="icon" type="image/png" href="./assets/favicons/favicon-32x32.png" sizes="32x32")
    link(rel="mask-icon" href="./assets/favicons/safari-favicon.svg" color="#BC9CFF")

  body

  .content-wrapper
    header
      +header({links: [{href : "/mock-address/change-me", name : "О нас"}, {href :"/mock-address/change-me", name :"Услуги", dropdown : true}, {href :"/mock-address/change-me", name :"Вакансии"}, {href :"/mock-address/change-me", name : "Новости"}, {href :"/mock-address/change-me", name : "Соглашения", dropdown : true}], buttonLogin:"войти", buttonRegister: "зарегистрироваться"})

    block content

    footer
      +footer({
        mainText: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
        menu: {
          column1: {title: "навигация", links: [{href:"/mock-address/change-me", val:"О нас"}, {href:"/mock-address/change-me", val:"Новости"}, {href:"/mock-address/change-me", val:"Служба поддержки"}, {href:"/mock-address/change-me", val:"Услуги"}]},
          column2: {title: "о нас", links: [{href:"/mock-address/change-me", val:"О сервисе"}, {href:"/mock-address/change-me", val:"Наша команда"}, {href:"/mock-address/change-me", val:"Вакансии"}, {href:"/mock-address/change-me", val:"Инвесторы"}]},
          column3: {title: "Служба поддержки",links: [{href:"/mock-address/change-me", val:"Соглашения"}, {href:"/mock-address/change-me", val:"Сообщества"}, {href:"/mock-address/change-me", val:"Связь с нами"}]}
            },
        subscription: {
          title: "Подписка",
          text: "Получайте специальные предложения и новости сервиса",
          placeholder: "Email"
        },
        copyright: "Copyright © 2018 Toxin отель. Все права зачищены."
          })
      +footer-mobile({
        text: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."
      })