include ../like-button/like-button

mixin review({image, author, date, text, likeNumber, likeName, likeValue, likeChecked})
  .review
    .review__avatar
      .review__avatar-image
        img(src=require('../../modules/review/images/' + image) alt='avatar')
      .review__avatar-like
        +like-button({number: likeNumber, name: likeName, value: likeValue, checked: likeChecked})
    .review__body 
      .review__name #{author}
      .review__date #{date}
      .review__text #{text}