.review {
  display: flex;

  &__avatar {
    min-width: 48px;
  }

  &__avatar-image {
    img {
      width: 48px;
      height: 46px;
      border: 2px solid #FFFFFF;
      box-sizing: border-box;
      box-shadow: 0px 10px 20px $dark_shade_10;
      border-radius: 32px;
    }
  }

  &__avatar-like {
    margin-top: 14px;
    margin-left: 4px;

    .like-button {
      display: block;
    }
  }

  &__body {
    max-width: 653px;
    margin-left: 10px;
  }

  &__name {
    @include sub-header;
  }

  &__text {
    margin-top: 10px;
  }
}