@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.review {
  display: flex;

  &__avatar {

    .avatar-image {
      img {
        width: 48px;
        height: 46px;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 10px 20px $dark_shade_10;
        border-radius: 32px;
      }
    }

    .avatar-like {
      margin-top: 10px;
      margin-left: 4px;
    }
  }

  &__body {
    max-width: 653px;
    margin-left: 10px;

    .name {
      @include sub-header;
    }

    .text {
      margin-top: 10px;
    }

  }
}