.landing-page {
  &__content {
    background: url('./images/landing-page-bg.jpg') no-repeat;
    background-size: cover;
    background-size: 107%;
    background-position: 47% 67%;
    box-sizing: border-box;
    height: 830px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 70px 9.4% 20px 9.7%;

    /* 140px / 1440px = 0,097 */
    @media (max-width: 1200px) {
      background-size: cover;
      flex-direction: column;

    }
  }


  &__form-login {
    align-self: flex-start;

    @media (max-width: 1200px) {
      align-self: center;
    }
  }

  &__comment {
    align-self: flex-end;
    width: 260px;
    text-align: right;

    @media (max-width: 1200px) {
      align-self: center;
    }
  }
}