extends ../../layout/main/main
include ../../modules/form-login/form-login

block variables

  -var pageTitle= 'Landing Page'

block content
  .landing-page
    .landing-page__content
      .landing-page__form-login
        +form-login()
      .landing-page__comment Лучшие номера для вашей работы, отдыха и просто вдохновения