extends ../../layout/main
include ../../modules/form-login/form-login

block variables

  -var pageTitle= 'Landing Page'

block content
  .landing-content
    +form-login()
    .landing-comment Лучшие номера для вашей работы, отдыха и просто вдохновения