extends ../../layout/main

block variables

  -var pageTitle= 'Landing Page'

block content
  .landing-content
    include ../../modules/forms/login/login
    .landing-comment Лучшие номера для вашей работы, отдыха и просто вдохновения