extends ../../layout/main/main
include ../../modules/form-signup/form-signup

block variables

  -var pageTitle= 'Sign in'

block content
  .signin-page
    .signin-page__content
      .signin-page__form-signup
        +form-signup()