.signin-page {
  flex: 1 0 auto;

  &__content {
    background: url('./images/registration-bg.jpg') no-repeat;
    background-size: 107%;
    background-position: 47% 51%;
    padding-top: 163px;
    padding-bottom: 164px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1440px;

    @media (max-width: 1200px) {
      background-size: cover;
      flex-direction: column;
    }
  }
}