include ../nav-link/nav-link

mixin menu({links, eng})
  - const classes = ["menu"]
  if eng
    - classes.push("menu_eng")
  ul(class= classes)
    each link in links
      li.menu__link   
        +nav-link({href: link.href, name: link.name, dropdown: link.dropdown, active: link.active})
