.menu {
  display: flex;

  &__link{
    &:not(:last-child) {
      margin-right: 20px;
    }

    &_eng {
      &:not(:last-child) {
        margin-right: 29px;
      }
      &.menu__link_dropdown{
        margin-right: 18px;
      }
    }  
  }

  &_mobile{
    display: block;
    width: 100%;
    .mm-listitem{
      margin-right: 0px;
    }
  }
}