.menu {
  display: flex;

  &__link:not(:last-child) {
    margin-right: 21px;
  }

  &__link_dropdown:not(:last-child) {
    margin-right: 20px;
  }

  &_eng {
    .menu__link:not(:last-child) {
      margin-right: 29px;
    }

    .menu__link_dropdown {
      margin-right: 17px;
    }
  }

  &_mobile{
    display: block;
  }
}