include ../nav-link/nav-link

mixin menu({links, eng})
  - const classes = ["menu"]
  if eng
    - classes.push("menu_eng")
  ul(class= classes)
    each link in links
      if link.dropdown
        li.menu__link_dropdown   
          +nav-link(link)
      else
        li.menu__link   
          +nav-link(link)
