include ../nav-link/nav-link

mixin menu({links, eng, mobile})
  - const classes = ["menu"]
  if eng
    - classes.push("menu_eng")
  if mobile
    - classes.push("menu_mobile")
  ul(class= classes)
    each link in links
      if link.dropdown
        li.menu__link_dropdown   
          +nav-link(link)
      else
        li.menu__link   
          +nav-link(link)
