include ../nav-link/nav-link

mixin menu({links, eng, mobile})
  - const mods = [""]
  if eng
    - mods.push("_eng")
  if mobile
    - mods.push("_mobile")
  ul(class=mods.map(mod => "menu" + mod))
    each link in links
      if mobile
        - link.mobile = true
      if link.dropdown
        li(class=mods.map(mod => "menu__link" + mod)).menu__link_dropdown  
          +nav-link(link)
      else
        li(class=mods.map(mod => "menu__link" + mod))   
          +nav-link(link)
