.form-booking {
  @include form;

  &__calendar-inputs {
    margin-top: 18px;
  }

  &__input-dropdown-header {
    @include h3;
    margin-bottom: 5px;
  }

  &__input-dropdown {
    margin-top: 20px;
  }

  &__price-list {
    margin-top: 20px;
  }

  &__price-list-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  &__item {
    padding-right: 25px;
    box-sizing: border-box;
    position: relative;
    line-height: 18px;
    flex-grow: 1;

    &_with-icon:after {
      position: absolute;
      content: 'i';
      top: 0;
      right: 0;
      font-family: $mainFont;
      font-weight: bold;
      font-size: 12px;
      color: $dark_shade_25;
      border: 1px solid $dark_shade_25;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
    }
  }

  &__item-price {
    line-height: initial;
    min-width: 80px;
    text-align: right;
    word-break: break-all;
  }

  &__price-list-final {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include h1;
    font-size: 19px;
    margin-top: 28px;
    width: 100%;
  }

  &__item-final-divider {
    width: 55%;
    padding: 0px 5px;
    border-bottom: 1px dashed $dark_shade_25;
    box-sizing: border-box;

    @media(max-width: 380px) {
      width: 30%;
    }
  }

  &__footer {
    margin-top: 17px;
  }
}