include ../input/input
include ../radio-button/radio-button
include ../toggle/toggle
include ../form-footer/form-footer

mixin form-registration({header, name, surname, sex, dateOfBirth, access, subscription, footer})
  .form-registration
    form.form-registration__form
      h1.form-registration__header= header
      .form-registration__name
        .form-registration__name-input
          +input(name)
        .form-registration__name-input
          +input(surname) 
      .form-registration__sex
        each radio in sex
          .form-registration__sex-radio
            +radio-button(radio)
      .form-registration__birth-date   
        h3.form-registration__title= dateOfBirth.header
        .form-registration__birth-date-input
          +input(dateOfBirth.input) 
      .form-registration__login-data
        h3.form-registration__title= access.header 
        .form-registration__login-data-input
          +input(access.email)
        .form-registration__login-data-input 
          +input(access.password) 
      .form-registration__subscription
        +toggle(subscription)
      .form-registration__footer
        +form-footer(footer)