include ../input/input
include ../radio-button/radio-button
include ../toggle/toggle
include ../form-footer/form-footer

mixin form-registration({header, name, surname, sex, dateOfBirth, access, subscription, footer})
  .registration
    form.registration__form
      h1.registration__header= header
      .registration__name
        .registration__name-input
          +input(name)
        .registration__name-input
          +input(surname) 
      .registration__sex
        each radio in sex
          .registration__sex-radio
            +radio-button(radio)
      .registration__birth-date   
        h3.registration__title= dateOfBirth.header
        .registration__birth-date-input
          +input(dateOfBirth.input) 
      .registration__login-data
        h3.registration__title= access.header 
        .registration__login-data-input
          +input(access.email)
        .registration__login-data-input 
          +input(access.password) 
      .registration__subscription
        +toggle(subscription)
      .registration__footer
        +form-footer(footer)