.expandable{
    position: relative;
    
    .down-arrow::before{
        position: absolute;
        @include drop-arrow;
        top:17px;   
    }
    .up-arrow::after{
        position: absolute;
        @include up-arrow;
        top:17px;   
    }
    h3{
        cursor:pointer;
    }
    .checkbox-elements{
        display:none;
    }
}

