.login {

.wrap-input{
    margin-top:19px;
    display:inline-block;
    &:nth-child(3){ margin-left: 18px;}
}
.wrap-default{
    margin-top:21px;
}
.form-header{
    letter-spacing: 1px;
}


}

.form-footer{
    margin-top:7px;
   
}

