.landing-page {
  flex: 1 0 auto;

  &__content {
    background: url('./images/landing-page-bg.jpg') no-repeat;
    background-size: cover;
    background-size: 107%;
    background-position: 47% 67%;
    box-sizing: border-box;
    height: 830px;
    display: flex;
    justify-content: space-between;
    padding: 70px 9.4% 20px 9.7%;

    @media (max-width: 1200px) {
      background-size: cover;
      flex-direction: column;
    }

    @media (max-width: 500px) {
      height: 550px;
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__form-login {
    width: 381px;
    align-self: flex-start;

    @media (max-width: 1200px) {
      align-self: center;
    }

    @media (max-width: 400px) {
      width: 98%;
    }
  }

  &__comment {
    align-self: flex-end;
    width: 260px;
    text-align: right;

    @media (max-width: 1200px) {
      align-self: center;
    }
  }
}