include ../form-login/form-login

mixin page-landing({formLogin, comment})
  .page-landing
    .page-landing__content
      .page-landing__form-login
        +form-login(formLogin)
      .page-landing__comment= comment