.button-big {
  @include button;
  line-height: 42px;
  background: $purpleGradient;
  color: $white;

  &_with-arrow {
    position: relative;
    width: 100%;

    &:before {
      @include right-arrow;
      right: 10px;
      position: absolute;
      color: $white;
      top: 10px;
    }
  }

  &_disabled {
    opacity: 0.5;
    cursor: none;
  }
}