@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.button-big {
  @include button;
  line-height: 42px;
  background: $purpleGradient;
  color: $white;

  &_with-arrow {
    position: relative;
    width: 100%; //320px;
  }

  &__arrow::before {
    @include right-arrow;
    right: 10px;
    position: absolute;
    color: $white;
    top: 10px;
  }

  &_disabled {
    opacity: 0.5;
    cursor: none;
  }
}